{% if offers is defined %}

    {% if offers is empty %}

        {% include ':components/profile:profile-empty.html.twig' %}

    {% else %}

        <div class="masonry-layout">

            {% for offer in offers %}
                {% include ':components/feed:feed-item.html.twig' %}
            {% endfor %}

        </div>

    {% endif %}

{% endif %}