{% if soldOffers is defined %}
    {% if soldOffers is empty %}

        {% include ':components/profile:profile-empty.html.twig' %}

    {% else %}

        <div class="masonry-layout">

            {% for offer in soldOffers %}
                {% include ':components/feed:feed-item.html.twig' %}
            {% endfor %}

        </div>

    {% endif %}

{% endif %}