<div class="empty-msg text-center">
    <div class="container d-flex align-content-center justify-content-center flex-column">
        <h1 class="title">سهيل حسن</h1>
        <p class="lead">ont pas encore d'annonces</p>
    </div>
</div>