<div class="tabs-container">

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link{% if offers is defined %} active{% endif %}" href="{{ path('user', {id: 1}) }}">En vente</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if soldOffers is defined %} active{% endif %}" href="{{ path('user-sold-offers', {id: 1}) }}">Vendu</a>
        </li>
    </ul>

    <div class="tabs-content">
        {% if offers is defined %}
            <div id="active-offers" class="content">{% include ':components/profile:active-offers.html.twig' %}</div>
        {%  endif %}

        {% if soldOffers is defined %}
            <div id="sold-offers" class="content">{% include ':components/profile:inactive-offers.html.twig' %}</div>
        {% endif %}
    </div>
</div>
