<div class="user-info">
    <a href="/" class="btn btn-link btn-lg goBackLink"><em class="icon icon-arrow-left-alternative" aria-hidden="true"></em> Voir tous les articles</a>

    <div class="avatar big mx-auto">
        <a class="avatar-link" href="{{ path('user', {id: 1}) }}">
            <img class="avatar-img" src="http://babalisteavatarthumbs.blob.core.windows.net/default/9d/51/70/user-163869.jpg?time=1488358023" alt="سهيل حسن">
        </a>
    </div>
    <h2 class="name text-center">سهيل حسن</h2>
    <p class="location text-center">Sralem w Alejkum</p>
</div>