.tabs-container {

    .nav-tabs .nav-item {
        margin-right: 2px;
    }

    .nav-tabs .nav-link {
        font-size: 18px;
        color: #737373;
        background: #ddd;

        &:hover {
            $c: lighten(#ddd, 7%);
            border-color: $c $c transparent $c;
            background: $c;
        }

        &.active {
            background: #fff;
            color: $secondary-color;
        }

    }

    .content {
        display: block;
        margin: 0 auto 20px;
        padding: 10px;
        background: #fff;
        border: 1px solid #ddd;
        border-top: 0;

        .empty-msg {
            margin: 30px auto 40px;
        }
    }
}