.user-info {
    padding: 10px 20px 20px;
    margin: 0 15px 20px;
    border: $sec-separator;
    color: #fff;
    border-radius: $border-radius;

    @include linear-gradient(45deg, #56e481 0, #4edd86 50%, #2bbaca 100%);

    .avatar {
        margin-top: 8px;
    }

    .goBackLink {
        color: #fff;
        font-size: 16px;
        padding-left: 0;
        text-decoration: none;

        &:hover, &:focus {
            text-shadow: 0 0 2px $gray-dark;
        }
    }

    .name {
        padding-top: 27px;
        padding-bottom: 2px;
        font-size: 20px;
        line-height: 26px;
    }

    .location {
        font-size: 14px;
        line-height: 18px;
        margin: 5px auto 15px;
    }
}

@include media-breakpoint-down(sm) {

    .user-info {
        padding: 0 9px 10px;
        margin: 0 0 9px;

        .name {
            padding-top: 10px;
        }
    }

}
