.contact-wrapper {
    background: $body-bg;
    border-radius: 6px;
    padding: 22px 10px 18px;
    margin-bottom: 12px;
    @include shadow();

    .contact {
        width: 100%;
        max-width: 288px;
    }

    .avatar {
        @include size(74px);
        margin-bottom: 20px;
    }
    .ownerLocation,
    .name {
        display: block;
        text-align: center;
    }
    .name {
        font-size: 20px;
        line-height: 25px;
        padding-top: 3px;
        padding-bottom: 0;
        color: $gray-dark;
        text-decoration: none;
        font-weight: 600;
    }
    .ownerLocation {
        color: $gray-light;
        font-size: 14px;
        margin: 3px 0 31px;
        font-weight: 300;
    }

    .btn {
        border-radius: 3px;
        height: 55px;
        display: inline-table;
        font-size: 20px;
        margin-bottom: 10px;

        .icon {
            color: #fff;
            margin: 3px 0 0 0;
            float: left;
            font-size: 25px;
        }

        .text {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }
    }

    .seeAllOffers {
        border-top: 1px solid #e1e1e1;
        margin: 10px auto 0;

        .seeAllOffersLink {
            margin: 20px auto 20px;
            text-align: center;
            border-radius: 3px;
            font-size: 16px;
            font-weight: bold;

            @include button-variant($gray, #e9e9e9, #e9e9e9);
        }
    }
}

@include media-breakpoint-only(md) {
    .contact-wrapper .seeAllOffers .seeAllOffersLink {
        margin: 20px auto 0;
    }
}

@include media-breakpoint-down(sm) {
    .contact-wrapper {
        border-radius: 0;
        padding: 10px;
    }

    .contact-wrapper .contact {
        max-width: 100%;
    }

    .contact-wrapper .btn {
        margin-bottom: 0;

        .icon {
            margin: 3px 8px 0 0;
        }

    }

    .contact-wrapper .seeAllOffers {
        border-top: 0;
        margin: 0 auto;

        .seeAllOffersLink {
            margin: 10px auto 0;
        }
    }

    .contact-wrapper .ownerLocation {
        margin-bottom: 0;
    }

    .contact-wrapper .askSeller {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        font-size: 0;
        z-index: 3;

        .btn {
            display: inline-table;
            width: 50%;
            border-radius: 0;
            border: 0;
            height: 57px;
            font-size: 18px;
            margin: 0;
            box-shadow: none;
            box-sizing: border-box;
            padding: 0;
            vertical-align: text-top;
            float: left;

            .icon {
                float: none;
            }
        }

    }
}