.copyToClipboardWrapper {

    .textareaWrp {
        width: auto;
        margin: 36px 40px 38px;
        height: 54px;
        line-height: 54px;
        white-space: nowrap;
        background: #ececec;
        padding: 0 20px 0 55px;
        position: relative;
        text-overflow: ellipsis;
        overflow: hidden;

        .icon {
            color: #7c6564;
            font-size: 28px;
            position: absolute;
            left: 14px;
            top: 14px;
        }
    }

    .copyToClipboardArea {
        color: #ff5735;
        background: transparent;
        font-size: 18px;
        box-shadow: none;
        text-align: center;
        border: 0;
        padding: 0;
        margin: 0;
        outline: none;
        line-height: 50px;
        white-space: nowrap;
    }

}

.copyToClipboardBox .modal-footer {
    border-top: 0;
}

.copyToClipboardBox .copyToClipboardSuccess {
    padding: 21px 10px 0;
    text-align: center;

    .successMsg {
        font-size: 16px;
        font-weight: 600;
        color: $gray-dark;
    }

    .icon {
        display: block;
        font-size: 50px;
        margin: 20px auto;
        color: $primary-color;
    }
}
#copyToClipboardCloseBtn {
    @extend .btn-secondary;
}

@include media-breakpoint-down(sm) {

    .copyToClipboardWrapper {

        .textareaWrp {
            margin: 36px 0 38px;
        }
    }

    .copyToClipboardLayer .modal-title {
        margin-right: 40px;
        text-align: left;
    }

    .copyToClipboardSuccess {

        .proceedBtn {
            background: $secondary-color;
        }
    }

}