.cb-details-description {
    margin: 0 -15px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e1e1e1;
    position: relative;

    .description {
        color: $gray;
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
        white-space: pre-line;
        overflow: hidden;

        p {
            word-wrap: break-word;
            word-break: break-word;
            -webkit-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto;
        }
    }
    .short {
        will-change: max-height;
        max-height: 17.5em;
    }
    .readable {
        will-change: max-height;
        max-height: 1500em;

        @include transition(0.5s);
    }

    .seeMore {
        position: absolute;
        left: 0;
        bottom: 40px;
        background: transparent;
        border-radius: 0;
        outline: none;
        height: 80px;
        margin-top: -50px;
        padding: 0;
        width: 100%;
        text-align: center;
        text-decoration: none;

        &:before {
            content: "";
            display: block;
            width: 100%;
            height: 64px;

            @include linear-gradient(to bottom, rgba(255,255,255, 0.2) 0%, #fff 100%);
        }

        .seeMoreText {
            will-change: content;
            background: #fff;
            color: $gray-light;
            padding: 0 5px;
            display: block;
            vertical-align: top;
            border-radius: 3px;
            line-height: 16px;
            height: 16px;
            font-size: 12px;
            text-transform: uppercase;
        }

        &:hover .translation {
            text-decoration: underline;
        }
    }

}

@include media-breakpoint-down(sm) {

    .cb-details-description {
        margin: 0 -13px;
        padding: 0 9px 20px;

        .description p {
            margin-top: -20px;
        }
    }

    .cb-details-header + .cb-details-description {
        margin-top: -15px;
    }

    .main-content .cb-details-description {
        border-bottom: 0;
        padding-bottom: 0;

        p {
            margin-bottom: 0;
        }
    }

}
