.fsGalleryModal {

    .modal-dialog {
        max-width: 100%;
        height: 100%;
        margin: 0;
        overflow: hidden;
    }

    .modal-content {
        width: 100%;
        height: 100%;
        border-radius: 0;
        background: transparent;
    }

    .thumbnails-wrapper {
        background: #fff;
        box-shadow: 0 2px 2px rgba(0,0,0, 0.5);
        min-height: 20px;
        padding: 10px 0;
        font-size: 0;
        text-align: center;
        position: relative;
        z-index: 2;

        @include media-breakpoint-down(sm) {
            padding: 8px 0;
        }

    }

    .thumbnail-link {
        display: inline-block;
        border: 1px solid $sec-separator-color;
        padding: 2px;
        margin: 0 5px;

        @include media-breakpoint-down(sm) {
            width: 18%;
            margin: 0 1%;
        }

    }

    .thumbnails-wrapper .selected {
        border-color: $secondary-color;
    }

    .pictureWrapper {
        display: block;
        text-align: center;
        position: relative;
        padding: 0;
        margin: 20px 0;
    }

    .image-box {
        display: inline-block;
        position: relative;

        .closeBtn {
            position: absolute;
            top: -10px;
            right: -10px;
            z-index: 3;
            padding: 0;
            border-radius: 100%;
            line-height: 20px;
            border: none;
            width: 20px;
            height: 20px;
            text-decoration: none;
            box-shadow: 0 0 3px #eee;

            .icon {
                color: $gray-dark;
                font-size: 20px;
                vertical-align: top;
                background-color: #fff;
                border-radius: 100%;
            }

        }
    }
    .image-box.processing {
        &:after {
            z-index: 3;
            color: #fff;
        }
        .main-picture,
        .closeBtn {
            visibility: hidden;
        }
    }

    .close-layer {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        cursor: pointer;
    }

    .main-picture {
        display: block;
        max-width: 100%;
        height: auto;
        margin: 0 auto;
        position: relative;
        z-index: 2;
    }

    .fsGalleryBtn {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 66px;
        border: 0;
        padding: 0;
        cursor: pointer;
        background: transparent;
        outline: none;
        z-index: 3;

        .btn {
            @include size(50px, 50px);
            line-height: 50px;
            background: $sec-separator-color;
            outline: none;
        }

        .icon {
            color: $secondary-color;
            font-size: 46px;
            margin: -21px 0 0 -17px;
            padding: 0;
        }
    }
    .btnPrev {
        left: 0;
    }
    .btnNext {
        right: 0;
    }
}
