.gallery {
    position: relative;

    @include media-breakpoint-up(md) {
        margin-right: 4px;
    }

}

.backToOffersBtn {
    display: block;
    padding: 0 10px 0 5px;
    position: absolute;
    top: 0;
    left: -9px;
    color: #fff;
    background: rgba(0,0,0,0.5);
    font-size: 14px;
    line-height: 30px;
    height: 30px;
    z-index: 4;

    &:hover {
        color: $sec-separator-color;
    }
}

.gallery .offerDetailsStick {
    display: table;
    position: absolute;
    left: 0;
    bottom: 16px;
    height: 35px;
    border-radius: 22px;
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,0.15);
    z-index: 3;
    overflow: hidden;
    text-decoration: none;

    .avatar, .offerDetailsStickDetails {
        background: #fff;
        overflow: hidden;
        display: table-cell;
        vertical-align: middle;
        outline: none;
    }
    .avatar {
        width: 35px;
        height: 35px;
        border: 3px solid #fff;
        border-radius: 22px 0 0 22px;
    }

    .offerDetailsStickDetails {
        padding: 0 16px 0 8px;
        max-width: 140px;
        border-radius: 0 22px 22px 0;
        font-size: 0;
    }

    .price {
        display: block;
        position: static;

        .price-value {
            font-weight: 600;
            font-size: 14px;
            line-height: 18px;
            padding: 0;
            color: #181818;
            vertical-align: text-top;
        }
    }

    .name {
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: $gray;
        padding-right: 5px;
        margin: -3px 0 0;

        .name-text {
            vertical-align: text-top;
        }
    }

}

.gallery .picture {
    text-align: center;
    position: relative;
    width: 100%;

    .img-full {
        position: relative;
        z-index: 1;
    }

    .img-full.hidden {
        width: 1px;
        height: 1px;
    }

    @include media-breakpoint-down(sm) {
        figure {
            margin-left: -14px;
            margin-right: -14px;
        }
    }

}
.gallery .hasMorePictures {

    .galleryImgWrapper {
        position: relative;
        margin-bottom: -5px;
        min-height: 200px;

        @include media-breakpoint-down(sm) {
            margin: 0 -9px -5px;
        }

    }

}

.gallery .galleryBtn {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 20%;
    cursor: pointer;
    z-index: 2;

    .btn {
        position: absolute;
        display: block;
        font-size: 36px;
        color: #fff;
        font-weight: 600;
        text-shadow: 0 1px 3px rgba(0,0,0,0.75);
        top: 50%;
        margin-top: -33px;
        box-shadow: none;
    }

}

.gallery .btnPrev {
    left: 0;
    .btn {
        margin-left: 8px;
    }
}

.gallery .btnNext {
    right: 0;
    .btn {
        right: 0;
        margin-right: 8px;
    }
}

.gallery .bullets {
    display: inline-block;
    position: relative;
    margin: 0 auto -26px;
    top: -60px;
    height: 30px;
    border-radius: 3px;
    background: rgba(0,0,0,0.2);
    overflow: hidden;
    padding: 0 4px;
    z-index: 2;

    .bullet {
        display: inline-block;
        vertical-align: middle;
        box-sizing: border-box;
        padding: 8px 4px;
        margin: 0;
        outline: none;
    }

    .bullet-dot {
        display: block;
        border-radius: 100%;
        height: 16px;
        width: 16px;
        margin: 0 auto;
        background: #c8ccd2;
        outline: none;
        cursor: pointer;
    }

    .selected .bullet-dot {
        background: #fff;
    }

    @include media-breakpoint-down(sm) {
        float: right;
        top: -41px;
        height: 20px;
        line-height: 17px;

        .bullet {
            padding: 5px 4px;
        }
        .bullet-dot {
            width: 10px;
            height: 10px;
        }
    }

}

.gallery .thumbnails {
    font-size: 0;
    margin: 0 0 20px;

    .thumbnail {
        display: inline-block;
        width: 20%;
        text-align: center;
    }

    .thumbnail-link {
        display: block;
        margin: 0 8px;
        box-sizing: border-box;
        border: 1px solid $sec-separator-color;
        height: 91px;
        outline: none;
        overflow: hidden;
        position: relative;

        @include media-breakpoint-only(md) {
            height: 72px;
        }

    }

    .first .thumbnail-link {
        margin: 0 8px 0 0;
    }
    .last .thumbnail-link {
        margin: 0 0 0 8px;
    }

    .selected {
        border-color: $secondary-color;
    }

    .thumbnail-image {
        display: block;
        min-width: 100%;
        height: auto;
        position: absolute;
        left: 50%;
        top: 50%;

        @include transform( translate(-50%,-50%) );
    }

}
