.locationSection {
    padding-bottom: 4px;
    margin-left: -15px;
    border-top: 1px solid $separator-color;

    .locationName {
        width: 100%;
        color: $gray;
        font-size: 16px;
        font-weight: 400;
        padding: 20px 0 21px;
        margin: 0;

        .icon {
            vertical-align: bottom;
            color: $gray-light;
        }

    }

    .map-wrapper {
        height: 352px;
        overflow: hidden;
    }

}

@include media-breakpoint-down(sm) {
    .locationSection {
        margin-left: -13.5px;
        margin-right: -13.5px;
        padding: 0;
    }

    .locationSection .locationName {
        margin: 0 5px;
        width: auto;
    }

    .locationSection .map-wrapper {
        height: 180px;
    }
}
