.actions {
    padding: 20px 0 0;
    margin: 20px -15px 0;
    text-align: center;
    position: relative;
    border-top: 1px solid $sec-separator-color;

    .actionsHeader {
        font-size: 16px;
        font-weight: 600;
        color: $gray;
        margin: 21px auto 27px;
    }

    .btn-round {
        color: #fff;
        font-size: 30px;
        width: 45px;
        height: 45px;
        line-height: 45px;
        margin: 0 5px;

        .icon {
            color: #fff;
            vertical-align: text-top;
        }
    }

    .offerShareItemOnFbBtn {
        background: #3b5998;
    }

    .shareByWhatsappBtn {
        background: #7bc06a;
    }

    .shareByEmailBtn {
        background: #5fc37b;

        .icon {
            margin-top: 4px;
        }
    }

    .shareByLinkBtn {
        background: #665858;
    }

}

@include media-breakpoint-down(sm) {

    .actions {
        padding: 1px 0 40px;
        border-top: 0;
    }

    .details-info .actions {
        padding: 10px 0 20px;
        border-top: 0;
        margin-top: 0;
    }

}
