.report-offer {
    border-top: 1px solid $separator-color;
    padding: 20px 0;
    margin-top: 20px;

    @include media-breakpoint-down(sm) {
        margin-top: 0;
        border-top: 0;
        padding-top: 10px;
    }
}
.reportOfferBtn {
    color: $gray-light;
    text-transform: uppercase;
    font-size: 14px;
    line-height: normal;
    padding: 0;

    &:hover {
        color: $separator-color;
    }

    &:after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 19px;
        height: 16px;
        background: url(/img/report-icons@2x.png) no-repeat 100% 0;
        background-size: (510px / 2) auto;
    }
}
.details-info .report-offer {

    @include media-breakpoint-up(md) {
        margin-left: -15px;
        margin-right: -15px;
        margin-top: 40px;
        padding-top: 40px;
    }

}

// popup
.reportOfferPopup {

    .modal-dialog {
        width: 100%;
        max-width: 460px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .title {
        font-size: 18px;
        color: $gray-dark;
        text-align: center;
        margin: 56px auto 50px;
        font-weight: bold;
    }
    .reportOfferBox {
        margin: 0 auto 52px;
        font-size: 0;
        max-width: 340px;
        width: 100%;
    }

   .reportTypeBtn {
        display: inline-block;
        width: 33.3333%;
        cursor: pointer;
        position: relative;
        vertical-align: text-top;

       .reportTypeInput {
           visibility: hidden;
           height: 1px;
       }

    }

    .reportTypeBtnLabel {
        display: block;
        font-size: 13px;
        color: $gray-dark;
        text-align: center;
        white-space: pre-line;
        margin-bottom: 28px;
    }

    .reportTypeBtnLabel:before {
        display: block;
        content: "";
        width: 74px;
        height: 74px;
        margin: 0 auto 10px;
        border-radius: 37px;
        box-sizing: border-box;
        padding: 2px;
        background: url(/img/report-icons@2x.png) no-repeat;
        background-size: 255px auto;
    }

    .type0 .reportTypeBtnLabel:before {
        background-position: 0 0;
    }
    .type1 .reportTypeBtnLabel:before {
        background-position: -83px 0;
    }
    .type2 .reportTypeBtnLabel:before {
        background-position: -166px 0;
    }
    .type3 .reportTypeBtnLabel:before {
        background-position: 0 -81px;
    }
    .type4 .reportTypeBtnLabel:before {
        background-position: -83px -81px;
    }
    .type5 .reportTypeBtnLabel:before {
        background-position: -166px -81px;
    }

    .selected .reportTypeBtnLabel:before {
        filter: grayscale(100%);
        opacity: .5;
    }

    .selected .reportTypeInput:checked + .reportTypeBtnLabel:before {
        filter: grayscale(0);
        opacity: 1;
    }

    .reportFormReasonWrp {
        border-top: 1px solid $sec-separator-color;
        border-bottom: 1px solid $sec-separator-color;
        padding: 3px 0;
        margin: 14px 0 30px;

        .reportOfferBoxReasonField {
            width: 100%;
            min-height: 69px;
            border: 0;
            box-shadow: none;
            font-size: 16px;
        }
    }

    .confirmationBox {

        .messageBox {
            padding: 60px 0 30px;
            font-size: 18px;
            font-weight: 600;

            .icon {
                color: $primary-color;
                font-size: 28px;
            }
        }
    }

}

@include media-breakpoint-up(md) {
    .reportOffer {
        margin-top: 40px;
        padding: 40px 0;
        border-top: 1px solid $sec-separator-color;
    }

}

@include media-breakpoint-down(sm) {
    .reportOffer {
        padding: 10px 0;
        margin: 10px 0 60px;
    }

}
