<script id="copyToClipboardPopupTemplate" type="text/x-handlebars-template">
    <div class="copyToClipboardWrapper">
        <form class="copyToClipboardWrapperBody">
            <div class="textareaWrp form-group">
                <i class="icon icon-link"></i>
                <textarea id="copyToClipboardArea" class="copyToClipboardArea form-control" readonly>{{ url('show', {offer_id: offer.id}) }}</textarea>
            </div>
        </form>
    </div>
</script>

<script id="copyToClipboardConfirmTemplate" type="text/x-handlebars-template">
    {% verbatim %}
    <div class="copyToClipboardSuccess">
        <div class="messageBox">
            <p class="successMsg"><i class="icon icon-tick-circle"></i> {{ successText }}</p>
        </div>
    </div>
    {% endverbatim %}
</script>
