<script id="fsGalleryTpl" type="text/x-handlebars-template">
    {% verbatim %}
    <div class="full-screen-gallery" id="fsGallery">

        {{#if thumbnails }}
            <div class="thumbnails-wrapper">
                {{#each thumbnails}}
                    <a href="{{imgSrc}}"
                       class="thumbnail-link{{#if  selected}} selected{{/if}}"
                       data-index="{{index}}"
                    >
                        <img class="img-fluid" src="{{thumbSrc}}" alt="{{title}}">
                    </a>
                {{/each}}
            </div>
		{{/if}}

		<div class="content">
			<picture class="pictureWrapper">

				<div class="image-box{{#if isLoading}} processing{{/if}}">
					<span class="btn btn-link closeBtn" data-dismiss="modal"><i class="icon icon-circle-x"></i></span>
					{{#each pictures}}

						<img class="main-picture {{#unless selected}} hidden{{/unless}}"
							 data-index="{{index}}"
							 src="{{imgSrc}}"
							 alt="{{title}}"
						>
					{{/each}}
				</div>

                {{#if thumbnails }}
                    <button class="fsGalleryBtn btnPrev" data-direction="-1">
                        <span class="btn"><i class="icon icon-angle-left"></i></span>
                    </button>
                    <button class="fsGalleryBtn btnNext" data-direction="1">
                        <span class="btn"><i class="icon icon-angle-right"></i></span>
                    </button>
				{{/if}}

			</picture>
			<div id="fsGalleryCloseLayer" class="close-layer" data-dismiss="modal"></div>
		</div>
	</div>
    {% endverbatim %}
</script>