<script id="galleryNavTpl" type="text/x-handlebars-template">
    <a class="galleryBtn btnPrev js-gallery-nav-btn" data-direction="-1">
        <span class="btn"><i class="icon icon-angle-left-tiny"></i></span>
    </a>
    <a class="galleryBtn btnNext js-gallery-nav-btn" data-direction="1">
        <span class="btn"><i class="icon icon-angle-right-tiny"></i></span>
    </a>
</script>