<script type="text/x-handlebars-template" id="gridItemTemplate">
	{% verbatim %}
    <article itemscope="" itemtype="http://schema.org/IndividualProduct"
             class="cntListView js_board_item gridItem col-6 col-md-4 col-lg-3 {{#if isLast}}last{{/if}}"
			 id="boardItem-{{id}}"
			 data-pic-ratio="{{ratio}}"
	>
		<meta itemprop="name" content="{{title}}">

		<div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer" class="main clearfix">
			<div class="picture">
				<figure>
					<a href="{{url}}" class="js-pictureLink">
						<img itemprop="image" class="js-pictureImg" src="{{first_picture}}" alt="{{title}}">
					</a>
				</figure>
			</div>

			<div class="gridTitle fade-to-left">
				<h3>
					<a class="gridTitleLink" href="{{url}}">
						<span class="title text-nowrap">{{title}}</span>
					</a>
				</h3>
			</div>
			<p class="gridPrice"><strong class="price-value">{{price}}</strong></p>

			<div class="gridFooter">
				<span class="gridLocation fade-to-left"><span class="gridLocationName text-nowrap">{{location_info}}</span></span>

			</div>

		</div>

	</article>
	{% endverbatim %}
</script>
