<script id="modalTpl" type="text/x-handlebars-template">
    {%  verbatim %}

    <div class="modal fade {{id}} {{cssClass}}" id="{{id}}" tabindex="-1" role="dialog" aria-labelledby="{{id}}Label" aria-hidden="true">
        <div class="modal-dialog" role="document">

            {{#if showCloseBtn}}
                {{#unless showHeader}}
                    <span class="btn btn-link closeBtn" data-dismiss="modal"><i class="icon icon-x"></i></span>
                {{/unless}}
            {{/if}}

            <div class="modal-content">

                {{#if showHeader}}
                    <div class="modal-header text-center">
                        <h5 class="modal-title w-100" id="{{id}}Label">{{{ title }}}</h5>
                        <span class="btn btn-link closeBtn" data-dismiss="modal"><i class="icon icon-x"></i></span>
                    </div>
                {{/if}}

                {{#if showBody}}
                    <div class="modal-body">
                        {{{content}}}
                    </div>
                {{ else }}
                    {{{content}}}
                {{/if}}

                {{#if showFooter}}
                    <div class="modal-footer">
                        {{#if cancelActionLabel}}
                            <button type="button"{{#if cancelActionId}} id="{{ cancelActionId }}" {{/if}}class="btn btn-lg cancelBtn btn-default" data-dismiss="modal">{{ cancelActionLabel }}</button>
                            <button type="button"{{#if proceedActionId}} id="{{ proceedActionId }}" {{/if}}class="btn btn-lg proceedBtn btn-primary" data-dismiss="modal">{{ proceedActionLabel }}</button>
                        {{ else }}
                            <button type="button"{{#if proceedActionId}} id="{{ proceedActionId }}" {{/if}}class="btn btn-xl btn-block proceedBtn btn-primary" data-dismiss="modal">{{ proceedActionLabel }}</button>
                        {{/if}}

                    </div>
                {{/if}}

            </div>

		</div>
	</div>
    {%  endverbatim %}
</script>