<script id="reportOfferTemplate" type="text/x-handlebars-template">

    <form id="reportOfferBox" class="reportOfferBox">
        <legend class="title">{% trans %}Report offer{% endtrans %}</legend>
        <label class="reportTypeBtn type0"><input class="reportTypeInput" type="radio" name="report" value="0"><span class="reportTypeBtnLabel">{% trans %}Illegal offer{% endtrans %}</span></label>
        <label class="reportTypeBtn type1"><input class="reportTypeInput" type="radio" name="report" value="1"><span class="reportTypeBtnLabel">{% trans %}Fraud{% endtrans %}</span></label>
        <label class="reportTypeBtn type2"><input class="reportTypeInput" type="radio" name="report" value="2"><span class="reportTypeBtnLabel">{% trans %}Offer wrong quality{% endtrans %}</span></label>
        <label class="reportTypeBtn type3"><input class="reportTypeInput" type="radio" name="report" value="3"><span class="reportTypeBtnLabel">{% trans %}Spam{% endtrans %}</span></label>
        <label class="reportTypeBtn type4"><input class="reportTypeInput" type="radio" name="report" value="4"><span class="reportTypeBtnLabel">{% trans %}Agressive content{% endtrans %}</span></label>
        <label class="reportTypeBtn type5"><input class="reportTypeInput" type="radio" name="report" value="5"><span class="reportTypeBtnLabel">{% trans %}Others{% endtrans %}</span></label>

        <div class="reportFormReasonWrp">
            <textarea id="reportOfferReasonField" class="input reportOfferBoxReasonField" placeholder="Additional informations..."></textarea>
        </div>
        <div class="btnWrapper">
            <button class="btn btn-block btn-xl btn-primary sendReportBtn">{% trans %}Send{% endtrans %}</button>
        </div>
    </form>
    <div id="reportOfferBoxConfirmation" class="confirmationBox hidden">

        <div class="modal-body">
            <div class="messageBox">
                <p class="infoTick"><em class="icon icon-tick-circle" aria-hidden="true"></em> {% trans %}Offer is reported, thanks!{% endtrans %}</p>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-block btn-xl btn-primary closeConfirmBtn" data-dismiss="modal">Ok</button>
        </div>
    </div>

</script>