<script type="text/x-handlebars-template" id="sendAppFormTemplate">
    {% verbatim %}
    <form class="sendMeAppPopupBox row no-gutters">
    {% endverbatim %}

        <div class="col-5 imgWrp">
                <img class="phones"
                     src="{{ asset('/img/phones-full.png') }}"
                     srcset="{{ asset('/img/phones-full.png') }} 1x,
                             {{ asset('/img/phones-full@2x.png') }} 2x"
                     alt="" aria-hidden="true">
        </div>

    {% verbatim %}
        <div class="sendMeAppPopupContent col d-flex-inline align-self-center">
            <h3 id="sendMeAppLayerLabel" class="title">{{ legend }}</h3>
            <fieldset class="popupBody">
                <input type="text" name="name" placeholder="{{ yourName }}" class="input form-control nameInput" autofocus required>
                <input type="email" name="email" placeholder="{{ yourEmail }}" class="input form-control emailInput" required>
            </fieldset>
        </div>
    </form>
    {% endverbatim %}
    {#<div class="popupFooter btnWrp">#}
        {#<a id="sendMeAppFormBtn" class="btn btn-primary btn-xl btn-full sendMeAppBtn">M’envoyer l’application gratuite</a>#}
    {#</div>#}

</script>