<script type="text/x-handlebars-template" id="sendAppConfirmTemplate">

    {% verbatim %}
    <div class="sendMeAppPopupBox row no-gutters">

    {% endverbatim %}

        <div class="col-5 imgWrp">
            <img class="phones"
                 src="{{ asset('/img/phones-full.png') }}"
                 srcset="{{ asset('/img/phones-full.png') }} 1x,
                                 {{ asset('/img/phones-full@2x.png') }} 2x"
                 alt="" aria-hidden="true">
        </div>

    {% verbatim %}
        <div class="sendMeAppPopupContent col d-flex-inline align-self-center">
            <h3 id="sendMeAppLayerLabel" class="title">{{ legend }}</h3>
            <div class="popupBody">
                <p><strong>{{ confirmText }}</strong></p>
                <p class="subinfo">{{ confirmSubinfo }}</p>
            </div>
        </div>


    </div>
    {% endverbatim %}
</script>