.cb-app-banner {
    will-change: opacity,height;
    opacity: 1;
    padding: 0 10px;
    height: 70px;
    overflow: hidden;
    background: #242121;
    color: #fff;
    font-family: Arial,Helvetica, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 6;

    &.fade {
        will-change: opacity,height;
        opacity: 0;
        height: 0;

        @include transition(opacity 0.3s linear);
    }

    @include transition(opacity 0.3s linear);

    .bannerWrp {
        height: 100%;
        width: 100%;
    }

    .closeBtn {
        max-width: 26px;
        position: static;
        text-align: left;
        vertical-align: middle;
    }

    .logoWrp {
        max-width: 58px;
        height: 44px;
        border-right: 1px solid #6e6c6c;
        box-sizing: border-box;

        .logo {
            @include size(100%);

            display: block;
            background: url(/img/logo-vertical-gray.svg) no-repeat 50% 50%;
            background-size: 42px auto;
        }
    }

    .bannerText {
        padding: 0 15px;
        margin: 0;
        font: 600 10px / normal Arial,Helvetica,sans-serif;
        text-align: left;
        vertical-align: middle;

        .stars {
            display: block;
            margin-top: 3px;
        }

    }

    .downloadAppBtn {
        max-width: 85px;
        font-size: 14px;
        text-transform: uppercase;
        padding: 7px 9px;
        margin: 0 -2px 0 0;
        float: right;
    }

}

@include media-breakpoint-down(sm) {

    .cb-app-banner + .cb-header {
        top: 70px;

        .side-menu {
            top: -70px;
        }
    }

    .cb-app-banner + .cb-header + .cb-content {
        margin-top: 190px;
    }

    .cb-app-banner.fade + .cb-header {
        top: 0;

        .side-menu {
            top: 0;
        }
    }

    .cb-app-banner.fade + .cb-header + .cb-content {
        margin-top: 120px;
    }

}

@include media-breakpoint-up(md) {

    .cb-app-banner.hidden-md-up + .cb-header {
        top: 0;

        .side-menu {
            top: 0;
        }

    }

}

@include media-breakpoint-only(md) {

    .cb-app-banner.hidden-md-up + .cb-header + .cb-content {
        margin-top: 80px;
    }

}

@include media-breakpoint-up(lg) {

    .cb-app-banner.hidden-md-up + .cb-header + .cb-content {
        margin-top: 100px;
    }

}
