.modal-dialog .closeBtn {
    color: $gray-light;
    font-size: 22px;
    position: absolute;
    z-index: 9;
    right: 10px;

    &:hover {
        color: $gray-dark;
    }
}

.modal-dialog .system-message {
    padding: 20px;
    font-size: 16px;
}