.sendMeAppBox {
    @include linear-gradient(to bottom, #3bc4f2 0%, #1aa8ea 100%);

    color: #fff;
    margin-top: 60px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);

    .sendMeAppWrp {
        background: url(/img/apps-bottom-bg.png) repeat-x 0 50%;
        height: 100%;
    }

    .sendMeAppScreen {
        min-height: 204px;
        margin: 0 auto;

        .phonesImgWrp {
            position: relative;
        }

        .phonesImg {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 278px;
            height: 238px;
        }

        .sendMeAppBtn {
            text-transform: uppercase;
            border-bottom-width: 2px;
            text-shadow: none;
        }

        .sendMeAppScreenHeader {
            font-weight: 400;
            font-size: 35px;
        }

        .sendMeAppScreenText {
            font-size: 20px;
            margin: 20px 0;
        }

        .textWrp {
            padding: 20px 16px;
            text-shadow: 0 0 1px darken($secondary-color, 10%);
        }
    }

    .sendMeAppC2A {
        padding: 20px 10px 40px;
    }

    .sendMeAppC2A .sendMeAppScreenHeader {
        font-weight: 600;
        font-size: 32px;
        line-height: 60px;
        margin: 0 auto 10px;
    }

    .sendMeAppC2A .btn-rounded {
        font-size: 16px;
        padding: 9px 20px;
        text-transform: uppercase;

        .icon {
            font-size: 30px !important;
            margin: -2px 0 2px 5px;
        }
    }


}

// popup form
.sendMeAppLayer {

    .modal-dialog {
        width: 100%;
        max-width: 805px;
        min-width: 300px;
        margin-top: 60px;
        border-radius: 4px;
        background-clip: border-box;

        @include linear-gradient(to bottom, #3bc4f2 0%, #1aa8ea 100%);
    }

    .modal-content {
        background: url(/img/apps-bottom-bg.png) repeat 0 50%;
        height: 100%;
        color: #fff;
    }

    .modal-body {
        padding: 0;
    }

    .modal-footer {
        border-top: 0;

        .btn {
            width: 100%;
            padding: 14px 20px 15px;
            border-bottom-width: 2px;
            font-weight: 400;
            font-size: 24px;
        }
    }

    .closeBtn {
        color: #fff;

        &:hover {
            color: $separator-color;
        }
    }

    .sendMeAppPopupBox {
        margin: 0 30px;
        min-height: 285px;

        .imgWrp {
            position: relative;

            .phones {
                position: absolute;
                top: -40px;
            }
        }

        .input {
            margin: 20px 0 0 0;
            font-size: 18px;
            font-weight: 300;
        }

        .title {
            margin: 50px 0 0;
            font: 600 40px/42px 'Open Sans',Helvetica,Arial,sans-serif;
            color: #fff;
            padding: 0;
        }

        .popupBody p {
            color: #fff;
            font: normal 16px / normal 'Open Sans',Helvetica,Arial,sans-serif;
            margin-top: 22px;
        }

        .popupBody .subinfo {
            font-size: 13px;
            margin-top: 22px;
        }

    }

    .sendMeAppPopupContent {
        margin: 0 -15px;
    }

}
