<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}frontend test site{% endblock %}</title>
        <meta name="viewport" content="width=device-width initial-scale=1">

        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('/img/favicon.ico') }}">
        <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('/img/apple-icon-57x57.png') }}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('/img/apple-icon-60x60.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('/img/apple-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('/img/apple-icon-76x76.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('/img/apple-icon-114x114.png') }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('/img/apple-icon-120x120.png') }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('/img/apple-icon-144x144.png') }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('/img/apple-icon-152x152.png') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('/img/apple-icon-180x180.png') }}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('/img/android-icon-192x192.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('/img/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('/img/favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('/img/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('/manifest.json') }}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{{ asset('/img/ms-icon-144x144.png') }}">
        <meta name="theme-color" content="#ffffff">
        
        
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&amp;subset=latin-ext" rel="stylesheet">
        <link href="{{ asset('webfonts/initfonts.css') }}" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
        {%  block headbottom %}
            <script>
                window.cbApp = {
                    fb_appId: "401652553214093",
                    userFBAvatarPostfix: 0,
                    appMode: "development",
                    gmap_key: 'AIzaSyADXNARHj-ii6lbRRIy6mO5m8HuGHB75Z0',
                    gmap_static_key: 'jd_TuETJpgkfKsgkQWv5gWZds6g=',
                    utils: {}
                };
            </script>
            <script src="{{ asset('js/cbApp.vendor.js') }}"></script>
        {% endblock %}

        {#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">#}
        {#<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>#}
        {#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>#}
        {#<script src="https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>#}
    </head>
    <body id="bodyId">
        <div id="layWrp" class="layWrp">
            {% block body %}
                {% include 'components/top/mobile-app-banner.html.twig' %}
            {% endblock %}
        </div>
        {% block javascripts %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" async></script>
            <!--[if lt IE 9]>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" async></script>
            <![endif]-->


            {#<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>#}
            {#<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>#}

            {#{% include 'components/ads/one-signal.html.twig' %}#}

        {% endblock %}

        {% block js_templates %}
            {% include 'js-templates/modal-general-tpl.html.twig' %}
            {% include 'js-templates/send-me-app-confirm-tpl.html.twig' %}
            {% include 'js-templates/send-me-app-popup-tpl.html.twig' %}
        {% endblock %}

        <button id="gouplink" class="btn btn-link gouplink hidden" aria-hidden="true"><i class="icon icon icon-angle-up"></i></button>
    </body>
</html>
