<section id="sendMeAppBox" class="sendMeAppBox hidden-sm-down">
    <div class="sendMeAppWrp">
        <div class="container">
            <div id="sendMeAppScreen" class="sendMeAppScreen row{% if showSendMeAppConfirm == true %} hidden{% endif %}">
                <div class="col-lg-4 col-md-4 text-right phonesImgWrp">
                    <img class="phonesImg" src="{{ asset('/img/app-phones@2x.png') }}" alt="">
                </div>
                <div class="col-lg-8 col-md-8 float-right d-flex align-items-center textWrp">
                    <article>
                        <h3 class="sendMeAppScreenHeader">{% trans %}New selling platform{% endtrans %}</h3>
                        <p class="sendMeAppScreenText">
                            <span>{% trans %}Just make photo and chat with potencial buyer{% endtrans %}</span>
                        </p>
                        <a id="sendMeAppScreenBtn" class="btn btn-primary btn-lg sendMeAppBtn processing" style="width:400px;">{% trans %}Download application{% endtrans %}</a>
                    </article>
                </div>
            </div>

            <div id="sendMeAppC2A" class="sendMeAppC2A text-center{% if showSendMeAppConfirm == false %} hidden{% endif %}">
                <h3 class="sendMeAppScreenHeader">{% trans %}Are you ready to sell first offer?{% endtrans %}</h3>
                <button class="btn btn-xl btn-alternative btn-rounded addOfferBtn add_new_item_btn js_show-door-layer">{% trans %}Add offer{% endtrans %} <i class="icon icon-camera" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</section>