{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/customer-service.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/cbApp.customer-service.js') }}"></script>
{% endblock %}

{% block body %}

    {% include ':components/header:header.html.twig' %}

    <section class="cb-content customer-service">
        <div class="container">
            <div class="row no-gutters align-content-stretch align-items-justify">

                <div class="flex-last customer-service-content">
                    <div class="wrapper">
                        <h2 class="title">Customer Service {{ section }} tu je</h2>

                        {% if section == 'contact' %}
                            {% include 'components/customer-service/contact-form.html.twig' %}
                        {% endif %}

                        {% if section == 'help' %}
                            {% include 'components/customer-service/faq.html.twig' %}
                        {% endif %}

                        {% if section == 'terms' %}
                            {% include 'components/customer-service/terms.html.twig' %}
                        {% endif %}
                    </div>

                </div>

                {% include ':components/customer-service:customer-service-menu.html.twig' %}

            </div>
        </div>
    </section>


    {% include ':components/footer:footer.html.twig' %}
{% endblock %}