{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/feed.css') }}" rel="stylesheet">
{% endblock %}

{%  block headbottom %}
    {% include 'components/feed/grid-script.html.twig' %}
{% endblock %}

{% block body %}
    {{ parent() }}

    {% include('components/header/header.html.twig') %}

    <div id="cbContent" class="cb-content d-flex flex-column-reverse">

        <section class="container cb-board">

            {% include 'components/feed/feed-list.html.twig' with offers %}

            <div class="cb-section cb-section-first">{# in the future here can be advertisement slots #}</div>
            <div class="cb-section cb-section-second">{# 2nd place for advertisement slots #}</div>

            <button id="loadMoreOffersBtn" class="btn btn-secondary btn-large load-more-offers-btn invisible" data-location="1" data-category="1" data-search-text="">
                <i class="icon icon-plus"></i> <span>{% trans %}Load more{% endtrans %}</span>
            </button>

        </section>

        {% include('components/top/top-section.html.twig') %}

        <div class="cb-section cb-section-bottom">{# feed bottom advertisement slot #}</div>

    </div>

    {% include('components/footer/footer.html.twig') %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/cbApp.feed.js') }}" async></script>
{% endblock %}

{% block js_templates %}
    {{ parent() }}

    {%  include 'js-templates/grid-item-tpl.html.twig' %}
{% endblock %}
