{% extends "::base.html.twig" %}

{% block stylesheets %}
    <link href="{{ asset('css/profile.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/cbApp.profile.js') }}"></script>
{% endblock %}

{%  block headbottom %}
    {% include 'components/feed/grid-script.html.twig' %}
{% endblock %}

{% block body %}
    {{ parent() }}

    {% include('components/header/header.html.twig') %}

    <div id="cbContent" class="cb-content">
        <div class="container">

            {% include 'components/profile/user-info.html.twig' %}

            {% include 'components/profile/tabs.html.twig' %}

        </div>
    </div>

    {% include('components/footer/footer.html.twig') %}

{% endblock %}
