{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/details.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/cbApp.details.js') }}"></script>
{% endblock %}

{% block body %}
    {{ parent() }}

    {% include('components/header/header.html.twig') %}

    <div id="cbContent" class="cb-content">
        <div class="container">
            {% include 'components/details/breadcrumbs.html.twig' %}

            <article class="cb-details{% if isMobile %} isMobile{% endif %}">
                <meta itemProp="name" content="Smartwatch Neuf">
                <div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer" class="main clearfix">

                    {% if not(isMobile) %}
                        {% include 'components/details/details-header.html.twig' %}
                    {% endif %}

                    <div class="cb-details-section main-content col-sm-12 col-md-7 col-lg-8">
                        {% include 'components/details/gallery.html.twig' %}

                        {% if isMobile %}
                            {% include 'components/details/details-header.html.twig' %}
                            {% include 'components/details/description.html.twig' %}
                        {% endif %}

                        {% include 'components/details/location-section.html.twig' %}

                        {% if isMobile %}
                            {% include 'components/details/favorites-link.html.twig' %}
                            {% include 'components/details/offer-actions.html.twig' %}
                        {% endif %}

                    </div>

                    <div class="cb-details-section details-info col-sm-12 col-md-5 col-lg-4">
                        {% include 'components/details/details-contact.html.twig' %}

                        {% if not(isMobile) %}
                            {% include 'components/details/description.html.twig' %}
                            {% include 'components/details/favorites-link.html.twig' %}
                            {% include 'components/details/offer-actions.html.twig' %}
                        {% endif %}

                        {% include 'components/details/report-offer.html.twig' %}
                    </div>

                </div>
            </article>
        </div>


    </div>

    {% include('components/footer/footer.html.twig') %}
{% endblock %}

{% block js_templates %}
    {{ parent() }}

    {% include 'js-templates/gallery-nav-tpl.html.twig' %}
    {% include 'js-templates/fullscreen-gallery.html.twig' %}
    {% include 'js-templates/report-offer-tpl.html.twig' %}
    {% include 'js-templates/copy-to-clipboard-tpl.html.twig' %}
{% endblock %}