.cb-header .side-menu {
    will-change: left, z-index;
    display: block;
    background-color: #fff;
    text-align: center;
    position: absolute;
    max-width: 250px;
    width: 100%;
    height: 100vh;
    left: -420px;
    top: 0;
    z-index: -1;
    @include transition(left 0.1s linear);

    & + .layer {
        display: none;
    }

    .btn-close {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
        padding: 8px;
        color: #fff;
        opacity: 1;

        .icon {
            font-size: 20px;
        }
    }
    .user-box {
        background-color: $primary-color;

        @include linear-gradient(to bottom, #3bcaad 0, #48d895 100%);

        color: #fff;
        text-align: center;
        padding: 16px 0 10px;
        width: 100%;
        max-width: 320px;
        min-height: 140px;
        margin: 0;
        display: table;

        .avatar {
            margin: 10px auto 10px;
        }

        .login-text-info {
            color: #fff;
            font-size: 17px;
            margin: 0 10px 10px;
            display: block;
            line-height: normal;
            font-weight: 300;
        }
    }

    .side-menu-list {
        margin: 0 0 10px;
        padding: 0;
        text-align: left;

        .side-menu-item {
            height: 45px;
            line-height: normal;
            display: inline-table;
            width: 100%;
        }

        .side-menu-item-link {
            color: #666;
            font-size: 16px;
            font-weight: normal;
            display: table-cell;
            padding: 0 20px;
            line-height: normal;
            vertical-align: middle;
            cursor: pointer;

            .icon {
                font-size: 22px;
                margin-right: 16px;
                vertical-align: top;
            }
        }

        .separated {
            border-top: 1px solid #ebebeb;
            border-bottom: 1px solid #ebebeb;
            padding: 10px 0;
            margin: 6px 0 0;
            .login-btn {
                background: none;
                height: 100%;
                text-transform: none;
                box-shadow: none;
            }
        }

    }

    .get-app-btn {
        margin-bottom: 40px;
    }
}

.side-menu.open {
    will-change: left, z-index;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    min-height: 100vh;
    overflow: auto;

    @include transition(left 0.1s linear);
    @include shadow(0.2);

    & + .layer {
        display: block;
        background-color: rgba(255, 255, 255, 0.8);
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: 8;
    }

    @include media-breakpoint-up(lg) {
        &,
        & + .layer {
            display: none;
        }
    }
}