{%  set showSeeMore = (offer.description|length > 55) %}

{% if offer.description|length > 0 %}

    <div id="detailsDescriptionBox" class="cb-details-description{% if showSeeMore %} hasMoreText{% endif %}">
        <div class="description{% if showSeeMore %} short{% endif %}">
            <p class="description-text" itemprop="description">
                {{ offer.description|trim }}
            </p>
        </div>
        {% if showSeeMore %}
            <button class="btn btn-link btn-block seeMore invisible" aria-hidden="true"><span class="seeMoreText"><span class=".translation">Read more</span> <i class="icon icon-angle-down"></i></span></button>
        {% endif %}
    </div>

{% endif %}
