<header class="cb-details-header w-100 clearfix">

    {% if not(isMobile) %}

        {% if offer.price > 0 %}
            <span class="price">
                <strong class="price-value">
                    <span itemprop="price">{{ offer.price }} kr</span>
                </strong>
            </span>
        {% endif %}

    {% endif %}

    <h2 class="title fade-to-left">
        <span class="title-text">{{ offer.title }}</span>
    </h2>

</header>