<div class="contact-wrapper row">

    <section class="contact mx-auto">
        <div class="ownerInfoWrp">

            <div itemprop="seller" itemscope="" itemtype="http://schema.org/Person" class="ownerInfo">
                <div class="avatar mx-auto">
                    <a class="avatar-link" href="{{ path('user', {id: 1}) }}">
                        <img class="avatar-img" src="{{ offer.ownerAvatar }}" alt="{{ offer.ownerName }}">
                    </a>
                </div>
                <a class="name" href="{{ path('user', {id: 1}) }}">
                    <strong itemprop="name">{{ offer.ownerName }}</strong>
                </a>
                <p class="ownerLocation">{{ offer.locationName }}</p>

            </div>

        </div>
        <div class="askSeller">


            <btn class="btn btn-primary btn-xl btn-block sendPrivateMessageBtn js_show-door-layer">
                <span class="text"><i class="icon icon-chat-full left"></i>{% trans %}Chat with owner{% endtrans %}</span>
            </btn>
            <btn id="makeOfferBtn" class="btn btn-secondary btn-xl btn-block js_show-door-layer makeOfferBtn"><span class="text"><i class="icon icon-tag-full left"></i>{% trans %}Make an offer{% endtrans %}</span></btn>



        </div>
        <div class="seeAllOffers">
            <a class="btn btn-lg btn-block seeAllOffersLink" href="/{{ path('user', {id: 1}) }}">
                <span class="text">{% trans %}See user's offers{% endtrans %} &raquo;</span>
            </a>
        </div>
    </section>

</div>