<div class="favoriteOffer">
    <button class="btn btn-link btn-block favoriteOfferLink favoriteOfferAddLink js_show-door-layer"><i class="icon icon-heart"></i> {% trans %}Add to favorites{% endtrans %}</button>
</div>
