<section id="details-gallery" class="gallery row">
    <a href="/"
       id="backToOffersBtn"
       class="backToOffersBtn hidden-md-up"
       data-back-url="/telephones"
    ><i class="icon icon-angle-left"></i> Voir tous les articles</a>

    <div class="picture {% if offer.getPicturesUrls|length > 1 %} hasMorePictures {% endif %} mx-auto">
        <figure id="galleryImgWrapper" class="galleryImgWrapper">

            {% for img_url in offer.getPicturesUrls %}

                <img itemprop="image" class="img-full offerPicture js-offer-picture {% if loop.index >= 2 %} hidden {% endif %}"
                     data-index="{{ (loop.index - 1) }}"
                     src="{{ img_url|replace({'534x389': '1024x768'}) }}"
                     alt="{{ offer.title }}">

            {% endfor %}


        </figure>

        {% if offer.getPicturesUrls|length > 1 %}

            <div class="bullets">
                {% for img_url in offer.getPicturesUrls %}

                        <a href="{{ img_url|replace({'534x389': '1024x768'}) }}"
                           class="bullet {% if loop.index <= 1 %} selected {% endif %}"
                           data-index="{{ (loop.index -1) }}"
                        >
                            <span class="bullet-dot"><em class="alt">{{ loop.index }}</em></span>
                        </a>


                {% endfor %}
            </div>

            <div class="thumbnails row align-items-center hidden-sm-down">

                {% for img_url in offer.getPicturesUrls %}

                    <span class="thumbnail withImage{% if loop.index <= 1 %} first{% endif %}{% if loop.index >= offer.getPicturesUrls|length %} last{% endif %}">
                        <a class="thumbnail-link {% if loop.index <= 1 %} selected {% endif %}"
                           data-index="{{ (loop.index -1) }}"
                           href="{{ img_url|replace({'534x389': '1024x768'}) }}">
                            <img src="{{ img_url|replace({'534x389': '109x93'}) }}"
                                 alt="{{ offer.title }} - {{ (loop.index + 1) }}" class="thumbnail-image">
                        </a>
                    </span>

                {% endfor %}

            </div>

        {% endif %}

    </div>

    {% if isMobile %}
    <a href="/personen-158441" class="offerDetailsStick hidden-sm-up">

        <span class="avatar small">
            <span class="avatar-link">
                <img class="avatar-img" src="{{ offer.ownerAvatar }}" alt="{{ offer.ownerName }}">
            </span>
        </span>

        <span class="offerDetailsStickDetails">
            <span class="price">
                {% if offer.price > 0 %}
                <strong class="price-value">
                    <span itemprop="price">{{ offer.price }} kr</span>
                </strong>
                {% endif %}
            </span>
            <p class="name text-truncate"><span class="name-text text-nowrap">{{ offer.ownerName }}</span></p>
        </span>

    </a>
    {% endif %}

</section>