<div class="actions">
    <h3 class="actionsHeader">{% trans %}Share this offer{% endtrans %}:</h3>


    <button id="offerShareItemOnFbBtn" class="btn btn-round shareItemOnFbBtn offerShareItemOnFbBtn">
        <i class="icon icon-fb"><span class="sr-only">{% trans %}Share{% endtrans %}</span></i>
    </button>

    {%  if isMobile %}
        <button id="offerShareByWhatsapp" class="btn btn-round shareByWhatsappBtn" href="whatsapp://send?text=Salut%2C+Je+viens+de+d%C3%A9couvrir+cette+offre+et+pens%C3%A9+que+vous+pourriez+%C3%AAtre+int%C3%A9ress%C3%A9 {{ path('show', {'offer_id': offer.id}) }}" data-action="share/whatsapp/share"><i class="icon icon-whatsapp"></i></button>
    {% endif %}

    <a href="mailto:?subject=‘{{ offer.title }}’ sur Babaliste&amp;body=Cliquez ici pour voir le produit ‘{{ offer.title }}’ sur Babaliste: %0A %0A {{ url('show', {'offer_id': offer.id}) }}" id="offerShareByEmail" class="btn btn-round shareByEmailBtn"><i class="icon icon-message"></i></a>

    <button id="offerShareByLink" class="btn btn-round shareByLinkBtn" data-url="{{ path('show', {'offer_id': offer.id}) }}"><i class="icon icon-link"></i></button>



</div>