<div class="report-offer">
    <button id="reportOffer" class="btn btn-link btn-block reportOfferBtn" data-id="{{ offer.id }}"><span class="reportOfferText">{% trans %}Report offer{% endtrans %}</span></button>
</div>
