@import './components/header/header';
@import './components/popups';
@import './components/mobile-app-banner';
@import './components/send-me-app';

body {
    background-color: $body-bg;
}


.container {
    width: 100%;
    max-width: $max-width;
    @include make-container();
}
.row {
    @include make-row();
}
.no-scroll {
    overflow: hidden;
}
.alt, .hidden {
    border: 0 !important;
    clip: rect(0 0 0 0);
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
}
.scrollbar-fake-div {
    visibility: hidden;
    width: 100px;
    overflow: scroll;
}
.img-full {
    width: 100%;
    display: block;
    height: auto;
}
.processing {
    position: relative;
    &:after {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -16px 0 0 -16px;
        content: "\e933";
        font-family: 'Conv_cb-icons' !important;
        font-size: 32px;
        width: 32px;
        height: 32px;
        line-height: 32px;
        text-align: center;
        vertical-align: bottom;
        color: $gray-light;
        @include animation(spin 1.5s infinite linear);
    }
}

@include keyframes(spin) {
    0%  { @include transform( rotate(0deg) ); }
    100% { @include transform( rotate(360deg) ); }
}

// ad containers
.opxBox {
    display: table;
    width: 100%;
    padding: 0;

    & > div {
        display: table-cell;
        padding: 0;
        margin: 0 auto;
        vertical-align: middle;
        text-align: center;
    }
}


.fade-to-left {
    position: relative;
    &:before {
        content: '';
        display: inline-block;
        width: 2em;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        @include linear-gradient(to right, rgba(255,255,255, 0.2) 0%, rgba(255,255,255, 0.9) 50%, #fff 100%);
    }
}
.fade-to-right {
    position: relative;
    &:after {
        content: '';
        display: inline-block;
        width: 2em;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        @include linear-gradient(to left, rgba(255,255,255, 0.2) 0%, rgba(255,255,255, 0.9) 50%, #fff 100%);
    }
}

//.cb-header + .cb-content {
//    margin: (60px + 20px) auto 20px;
//}
//.cb-app-banner + .cb-header + .cb-content {
//    margin: (60px + 20px + 55px) auto 20px;
//}


.avatar {
    display: block;
    @include size(70px);

    .avatar-link {
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 100%;
        border: 2px solid #fff;
        background: $gray-light;
    }
    .avatar-img {
        display: block;
        width: 100%;
        margin: 0;
        border: 0;
    }

    &.big {
        @include size(120px);
        .avatar-link {
            border-width: 3px;
        }
    }
    &.small {
        @include size(50px);
        .avatar-link {
            border-width: 1px;
        }
    }

}

#bodyId .gouplink {
    position: fixed;
    z-index: 999;
    right: 20px;
    bottom: 20px;
    display: block;
    padding: 0;
    background: rgba(0,0,0,0.8);
    color: #fff;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border: 0;
    cursor: pointer;

    .icon {
        font-weight: normal;
        font-size: 30px;
    }

    &.disabled {
        opacity: 1;
    }

    @include media-breakpoint-down(md) {
        right: 0;
        border-radius: 100% 0 0 100%;
        height: 46px;
        line-height: 46px;
        width: 50px;

        .icon {
            font-size: 24px;
        }
    }
}

@include media-breakpoint-down(sm) {
    .cb-header ~ .cb-content {
        margin: (40px + 20px) auto 20px;
        padding: 0;
    }
    .cb-app-banner + .cb-header ~ .cb-content {
        margin: 130px auto 20px;
        padding: 0;
    }
    .appsTopBanner {
        display: block;
    }

}

@include media-breakpoint-down(sm) {
    .cb-header ~ .cb-content {
        margin: 80px auto 20px;
        padding: 0;
    }

    .cb-app-banner + .cb-header ~ .cb-content {
        margin: 130px auto 20px;
        padding: 0;
    }
}
