@import './lib/init';
@import './common';
@import './components/footer';
@import './components/customer-service/customer-service-menu';
@import './components/customer-service/contact-form';
@import './components/customer-service/faq';
@import './components/customer-service/docs';

.cb-content {
    margin-top: 100px;
    overflow: hidden;

    & > .container {
        max-width: 1100px;
    }
}

.cb-content + .sendMeAppBox {
    margin-top: 40px;
}

.customer-service-content {
    border-radius: 0 $border-radius-lg $border-radius-lg 0;
    background: #fff;
    border: $sec-separator;
    border-left: 0;
    flex: 1 0 0;
    overflow: hidden;

    .wrapper {
        padding: 0 40px 30px;
    }

    .title {
        font-size: 24px;
        color: $gray;
        margin-top: 22px;
    }
}
