@import './lib/init';
@import './common';
@import './components/footer';
@import './components/top-section';
@import './components/details/breadcrumbs';
@import './components/details/offer-header';
@import './components/details/contact-box';
@import './components/details/gallery';
@import './components/details/fullscreen-gallery';
@import './components/details/description';
@import './components/details/favorites-offer-link';
@import './components/details/offer-actions';
@import './components/details/location';
@import './components/details/report-offer';
@import './components/details/copy-to-clipboard';

.cb-header ~ .cb-content {
    margin: 80px auto 20px;
    padding: 0;

    & > .container {
        max-width: 1100px;
    }

    @include media-breakpoint-up(lg) {
        margin: 60px auto 20px;
    }

    @include media-breakpoint-down(md) {
        margin: 60px auto 20px;
        padding: 0;

        & > .container {
            padding: 0;
        }

    }

}

@include media-breakpoint-up(lg) {

    .cb-app-banner.hidden-md-up + .cb-header + .cb-content {
        margin-top: 80px;
    }

}

@include media-breakpoint-only(md) {

    .cb-app-banner.hidden-md-up + .cb-header + .cb-content {
        margin-top: 60px;
    }

}

@include media-breakpoint-down(sm) {
    .cb-app-banner.fade + .cb-header + .cb-content {
        margin-top: 60px;
    }
}

.cb-details {
    @include make-col-ready($grid-gutter-widths);

    .cb-details-section {

    }

    @include media-breakpoint-down(sm) {
        padding-bottom: 67px;
    }

}

.cb-details .main {
    border: 1px solid #e1e1e1;
    box-shadow: rgba(0,0,0,0.1) 0 1px 2px 0;
    border-radius: 6px;
    box-sizing: border-box;
    position: relative;
    background: #fff;
    padding: 15px 20px;

    @include make-row();

    @include media-breakpoint-down(md) {
        border: 0;
        box-shadow: none;
        border-radius: 0;
    }

    @include media-breakpoint-only(md) {
        padding: 0 15px;
    }

    @include media-breakpoint-down(sm) {
        padding: 0 9px;
    }

}

.cb-details .main-content {

    @include media-breakpoint-down(sm) {
        width: 100%;
    }

}

.gouplink {
    @include media-breakpoint-down(sm) {
        display: none !important;
    }
}
