@import './lib/init';
@import './common';
@import './components/footer';
@import './components/feed/grid-list';
@import './components/feed/grid-item';
@import './components/feed/main-menu';
@import './components/top-section';

@include media-breakpoint-up(lg) {
    .cb-content {
        margin: 80px auto 20px;

        & > .container {
            max-width: 1100px;
        }
    }
    .cb-app-banner + .cb-header ~ .cb-content {
        margin: 123px auto 20px;
    }

    .cb-app-banner.fade + .cb-header + .cb-content {
        margin-top: 80px;
    }
}

@include media-breakpoint-only(md) {
    .cb-header ~ .cb-content {
        margin: 60px auto 20px;
        padding: 0;
    }
    .cb-app-banner + .cb-header ~ .cb-content {
        margin: 60px auto 20px;
        padding: 0;
    }
}

@include media-breakpoint-down(sm) {
    .cb-app-banner + .cb-header ~ .cb-content {
        margin: 190px auto 20px;
        padding: 0;
    }
}


