@import './lib/init';
@import './common';
@import './components/footer';
@import './components/profile/tabs';
@import './components/profile/user-info';
@import './components/feed/grid-item';

.cb-header ~ .cb-content {
    margin: 100px auto 20px;
    padding: 0;

    & > .container {
        max-width: 1100px;
    }

    @include media-breakpoint-up(lg) {
        margin: 100px auto 20px;
    }

    @include media-breakpoint-down(md) {
        margin: 80px auto 20px;
        padding: 0;

        & > .container {
            padding: 0;
        }

    }

    @include media-breakpoint-down(sm) {
        margin: 60px auto 20px;
    }

}

.tabs-content .masonry-layout {
    font-size: 0;
    margin-right: -10px;
}

@include media-breakpoint-up(lg) {

    .cb-app-banner.hidden-md-up + .cb-header + .cb-content {
        margin-top: 100px;
    }

}

@include media-breakpoint-only(md) {

    .cb-app-banner.hidden-md-up + .cb-header + .cb-content {
        margin-top: 100px;
    }

    .tabs-container {
        margin: 0 15px 20px;
    }

}

@include media-breakpoint-down(sm) {

    .cb-app-banner.fade + .cb-header + .cb-content {
        margin-top: 60px;
    }

}



