<header id="cbHeader" class="cb-header navbar navbar-default navbar-fixed-top">
    <div class="container cb-header-actions">
        <div class="row no-gutters">
            <div class="col col-md-12 col-lg-2 col-sm-12 navbar-header">

                <button type="button" id="showSideMenuBtn" class="navbar-toggle collapsed btn-link hidden-lg-up no-hover" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <i class="icon icon-mobile-menu"><span class="sr-only">Toggle navigation</span></i>
                </button>
                <a class="navbar-brand logo no-hover" href="/">
                    <img class="logoImg" src="/img/bl-logo-horizontal-white.svg" alt="Babaliste.com logo">
                    <span class="sr-only">Babaliste.com</span>
                </a>

                {% if isAndroid %}
                    <a href="http://play.google.com/store/apps/details?id=se.citiboard" target="_blank" class="btn-get-mobile-app hidden-lg-up no-hover"><i class="icon icon-android"></i><span class="sr-only">Download the app</span></a>
                {% endif %}

                {% if isiOS %}
                    <a href="https://itunes.apple.com/se/app/citiboard-ab/id628478527?mt=8" target="_blank" class="btn-get-mobile-app hidden-lg-up no-hover"><i class="icon icon-apple"></i><span class="sr-only">Download the app</span></a>
                {% endif %}

                <button id="showSearchFormBtn" class="btn hidden-lg-up btn-link no-hover btn-search-activator"><i class="icon icon-search"></i></button>

            </div>

            <div id="searchFormWrp" class="col col-lg-10 hidden-md-down search-bar-wrp">
                <form id="searchForm" class="search-form form-group row no-gutters">
                    <div class="col inputWrp col-lg-9 col-xl-10">
                        <div class="sr-only" id="searchInputLabel">{% trans %}What do you search?{% endtrans %}</div>
                        <input type="search" class="form-control search search-input" id="searchInput" autocomplete="off" name="inp_text" placeholder="{% trans %}What do you search?{% endtrans %}" aria-labelledby="searchInputLabel">
                        <button type="reset" id="unsetPhrase" class="btn no-hover unset-phrase invisible">
							<span class="unset-phrase-btn">
								<i class="icon icon-x"></i>
							</span>
                        </button>
                    </div>
                    <div class="col search-btn-wrp col-lg-3 col-xl-2">
                        <button type="submit" class="btn btn-block search-btn"><span>{% trans %}Search{% endtrans %}</span></button>
                    </div>
                </form>
            </div>

            <div class="col col-lg-5 col-xl-4 hidden-md-down float-md-right user-actions-wrp">
                <button class="btn large btn-default login-btn login js_show-door-layer">
                    <strong>{% trans %}Login{% endtrans %}</strong> <i class="icon icon-login" aria-hidden="true"></i>
                </button>
                <button id="addOfferBtn" class="btn large btn-secondary add-offer-btn add_new_item_btn js_show-door-layer">{% trans %}Add offer{% endtrans %} <i class="icon icon-camera" aria-hidden="true"></i></button>
            </div>

        </div>
    </div>

    {%  include 'components/header/side-menu.html.twig' %}
</header>
