<section class="cb-board-list processing">

    <div class="masonry-layout d-flex flex-row">

        <div id="itemsPage-0">
            {% for offer in offers %}
                {% include 'components/feed/feed-item.html.twig' with {'offer': offer} %}
            {%  endfor %}
        </div>

        {% if not(isMobile) %}
            {% include 'components/feed/sidebar.html.twig' %}
        {% endif %}

    </div>

</section>
