<article itemscope="" itemtype="http://schema.org/IndividualProduct"
         class="js_board_item gridItem col-6 col-md-4 col-lg-3 flex-last order-unordered" id="boardItem-{{ offer.id }}" data-pic-ratio="{{ offer.firstPictureRatioRate }}">
    <meta itemprop="name" content="{{ offer.title }}">

    <div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer" class="main clearfix">

        <div class="picture hasMorePictures">
            <figure>
                <a class="pictureLink js-pictureLink not-ready" href="{{ path('show', {'offer_id': offer.id}) }}">

                    <img itemprop="image"
                         src="{{ offer.FirstPictureUrl }}"
                         alt="{{ offer.title }}">
                </a>
            </figure>


        </div>

        <div class="gridTitle fade-to-left">
            <h3>
                <a class="gridTitleLink" href="{{ path('show', {'offer_id': offer.id}) }}">
                    <span class="title text-nowrap">{{ offer.title }}</span>
                </a>
            </h3>
        </div>

        {% if offer.price > 0 %}
        <p class="gridPrice"><strong class="price-value">{{ offer.price }} Kr</strong></p>
        {% endif %}


        <div class="gridFooter">
            {% if offer.locationName %}
                <span class="gridLocation fade-to-left"><span class="gridLocationName text-nowrap"> {{ offer.locationName }}</span></span>
            {% endif %}

        </div>

    </div>

</article>