<script type="text/javascript">

    window.cbApp = window.cbApp || {};

    window.cbApp.getElementFullHeight = function (el) {
        if (typeof window.getComputedStyle === 'function') {

            var styles = window.getComputedStyle(el);

            return el.clientHeight + parseInt(styles['marginTop'])
                    + parseInt(styles['marginBottom'])
                    + parseInt(styles['paddingTop'])
                    + parseInt(styles['paddingBottom']);
        }
    };

    window.cbApp.calculateImgHeight = function (item) {
        var data = item.dataset,
            linkEl = item.querySelector('.js-pictureLink'),
            ratio = data.picRatio,
            w = linkEl.innerWidth || linkEl.clientWidth,
            picHeight = parseInt(w / ratio);

        if (ratio) {
            linkEl.setAttribute('style', 'height: ' + picHeight + 'px');
            linkEl.className = linkEl.className.replace('not-ready', '');
        }
    };

    window.cbApp.calculatePlaceholders = function (items, container) {

        for (var i in items) {

            if (typeof items[i] === 'object') {

                var item = items[i];

                if (!item.dataset.picRatio) {

                    var img = new Image();

                    img.onload = function () {
                        if (window.cbApp.hasOwnProperty('GridLayout')) {
                            window.cbApp.GridLayout.getBricks().layout();
                        }
                    }
                    img.src = item.querySelector('img').src;

                } else {
                    window.cbApp.calculateImgHeight(item);
                }

                if (i >= items.length - 1) {

                    if (window.cbApp.hasOwnProperty('GridLayout')) {
                        window.cbApp.GridLayout.getBricks().layout();
                    }

                }

            }
        }

    };

    function setUpTagCloudPosition (content) {
        var parent = (content) ? content : document.getElementById('cbContent'),
            sidebar = document.getElementById('cbSidebar'),
            tagCloud = document.getElementById('tagCloud'),
            sidebarH = (sidebar) ? window.cbApp.getElementFullHeight(sidebar) : 0,
            parentH = (parent) ? window.cbApp.getElementFullHeight(parent) : 0,
            cssText = '';

        if (parent) {

            if (sidebar && !( parentH > (sidebarH + 40) ) ) {
                cssText += 'min-height: ' + window.cbApp.getElementFullHeight(sidebar) + 'px;';
            }

            if (tagCloud) {
                cssText += 'padding-bottom: ' + window.cbApp.getElementFullHeight(tagCloud) + 'px;';
            }

            parent.style.cssText = cssText;

        }

    }

    var gridInit = function(evt){

        if (evt.target.readyState === "interactive") {
            var content = document.getElementById('cbContent');

            setUpTagCloudPosition(content);

            if (content) {
                var container = document.getElementById('cbContent').querySelector('.masonry-layout'),
                    items, t;

                if (container) {

                    items = container.querySelectorAll('.gridItem');

                    try {

                        var parent = container.parentNode;

                        parent.className = parent.className.replace('processing', '');

                        window.cbApp.calculatePlaceholders(items, container);

                    } catch (err) {
                        if (typeof console !== 'undefined' && typeof console.warn == 'function') console.warn(err);
                    }

                }
            }

        }
    }

    if (document.addEventListener) {
        document.addEventListener('readystatechange', gridInit, false);
    } else if (document.attachEvent) {
        document.attachEvent('onreadystatechange', gridInit);
    } else {
        document.onreadystatechange = gridInit;
    }
</script>
<script src="{{ asset('js/cbApp.grid.js') }}" async></script>
