<div id="cbSidebar" class="cb-sidebar col-4 col-md-4 col-lg-3 col-xl-3 flex-first order-first">
    <section class="cntTree cntCategories closed">
        <header class="cntTreeHeader">
            <strong class="root selectable selected">
                <a class="area" href="/hela-sverige"><span class="label arrADw01 arrC01">{% trans %}Categories{% endtrans %}</span></a>
            </strong>
        </header>
        <nav class="selectedLevel">
            <ul>
                <li class="selectable">
                    <a class="area" href="/mode">
                        <span class="label element"><i class="icon icon-mode"></i> Mode</span>
                    </a>
                    <span class="tree_count"> 43032 </span></li>
                <li class="selectable">
                    <a class="area" href="/hem-inredning">
                        <span class="label element"><i class="icon icon-hem-inredning"></i> Hem &amp; Inredning</span>
                    </a>
                    <span class="tree_count"> 33583 </span></li>
                <li class="selectable">
                    <a class="area" href="/for-barn">
                        <span class="label element"><i class="icon icon-for-barn"></i> För barn</span>
                    </a>
                    <span class="tree_count"> 19394 </span></li>
                <li class="selectable">
                    <a class="area" href="/fritid-hobby">
                        <span class="label element"><i class="icon icon-fritid-hobby"></i> Fritid &amp; Hobby</span>
                    </a>
                    <span class="tree_count"> 14730 </span></li>
                <li class="selectable">
                    <a class="area" href="/elektronik">
                        <span class="label element"><i class="icon icon-elektronik"></i> Elektronik</span>
                    </a>
                    <span class="tree_count"> 11765 </span></li>
                <li class="selectable selected">
                    <a class="area" href="/djur">
                        <span class="label element"><i class="icon icon-djur"></i> Djur</span>
                    </a>
                    <a href="/hela-sverige" class="btn goBackBtn"><span>Retourner</span><i class="icon icon-x" aria-hidden="true"></i></a>
                    <span class="tree_count"> 1904 </span></li>
                <li class="selectable">
                    <a class="area" href="/fordon">
                        <span class="label element"><i class="icon icon-fordon"></i> Fordon</span>
                    </a>
                    <span class="tree_count"> 6198 </span></li>
                <li class="selectable">
                    <a class="area" href="/bostad">
                        <span class="label element"><i class="icon icon-bostad"></i> Bostad</span>
                    </a>
                    <span class="tree_count"> 637 </span></li>
                <li class="selectable">
                    <a class="area" href="/ovrigt">
                        <span class="label element"><i class="icon icon-events"></i> Övrigt</span>
                    </a>
                    <span class="tree_count"> 7021 </span></li>

            </ul>

            <button class="btnS01 btnC03 closeBtn">Stäng</button>
        </nav>
    </section>

    <section class="cntTree cntLocations closed" id="locationParentSection" data-id="1">
        <header class="cntTreeHeader">
            <strong class="root selectable selected">
                <a class="area" href="/hela-sverige"><span class="label arrADw01 arrC01">Hela Sverige</span></a>
            </strong>
        </header>
        <nav class="selectedLevel">
            <ul>
                <li class="headerItem"><span class="area">{% trans %}Top districts{% endtrans %}</span></li>
                <li class="selectable">
                    <a class="area" href="/blekinge">
                        <span class="label arrADw01 arrC01 element">Blekinge</span>
                    </a>
                    <span class="tree_count">725</span></li>
                <li class="selectable">
                    <a class="area" href="/dalarna">
                        <span class="label arrADw01 arrC01 element">Dalarna</span>
                    </a>
                    <span class="tree_count">4334</span></li>
                <li class="selectable">
                    <a class="area" href="/gotland">
                        <span class="label arrADw01 arrC01 element">Gotland</span>
                    </a>
                    <span class="tree_count">395</span></li>
                <li class="selectable">
                    <a class="area" href="/gavleborg">
                        <span class="label arrADw01 arrC01 element">Gävleborg</span>
                    </a>
                    <span class="tree_count">4084</span></li>
                <li class="selectable">
                    <a class="area" href="/halland">
                        <span class="label arrADw01 arrC01 element">Halland</span>
                    </a>
                    <span class="tree_count">9317</span></li>
                <li class="selectable">
                    <a class="area" href="/jamtland">
                        <span class="label arrADw01 arrC01 element">Jämtland</span>
                    </a>
                    <span class="tree_count">349</span></li>
                <li class="selectable">
                    <a class="area" href="/jonkoping">
                        <span class="label arrADw01 arrC01 element">Jönköping</span>
                    </a>
                    <span class="tree_count">3049</span></li>
                <li class="selectable">
                    <a class="area" href="/kalmar">
                        <span class="label arrADw01 arrC01 element">Kalmar</span>
                    </a>
                    <span class="tree_count">1279</span></li>
                <li class="selectable">
                    <a class="area" href="/kronoberg">
                        <span class="label arrADw01 arrC01 element">Kronoberg</span>
                    </a>
                    <span class="tree_count">2002</span></li>
                <li class="selectable">
                    <a class="area" href="/norrbotten">
                        <span class="label arrADw01 arrC01 element">Norrbotten</span>
                    </a>
                    <span class="tree_count">883</span></li>
                <li class="selectable">
                    <a class="area" href="/skane">
                        <span class="label arrADw01 arrC01 element">Skåne</span>
                    </a>
                    <span class="tree_count">23054</span></li>
                <li class="selectable">
                    <a class="area" href="/stockholm">
                        <span class="label arrADw01 arrC01 element">Stockholm</span>
                    </a>
                    <span class="tree_count">17903</span></li>
                <li class="selectable">
                    <a class="area" href="/sodermanland">
                        <span class="label arrADw01 arrC01 element">Södermanland</span>
                    </a>
                    <span class="tree_count">5522</span></li>
                <li class="selectable">
                    <a class="area" href="/uppsala">
                        <span class="label arrADw01 arrC01 element">Uppsala</span>
                    </a>
                    <span class="tree_count">3223</span></li>
                <li class="selectable">
                    <a class="area" href="/varmland">
                        <span class="label arrADw01 arrC01 element">Värmland</span>
                    </a>
                    <span class="tree_count">1834</span></li>
                <li class="selectable">
                    <a class="area" href="/vasterbotten">
                        <span class="label arrADw01 arrC01 element">Västerbotten</span>
                    </a>
                    <span class="tree_count">13170</span></li>
                <li class="selectable">
                    <a class="area" href="/vasternorrland">
                        <span class="label arrADw01 arrC01 element">Västernorrland</span>
                    </a>
                    <span class="tree_count">5165</span></li>
                <li class="selectable">
                    <a class="area" href="/vastmanland">
                        <span class="label arrADw01 arrC01 element">Västmanland</span>
                    </a>
                    <span class="tree_count">2399</span></li>
                <li class="selectable">
                    <a class="area" href="/vastra-gotaland">
                        <span class="label arrADw01 arrC01 element">Västra Götaland</span>
                    </a>
                    <span class="tree_count">26835</span></li>
                <li class="selectable">
                    <a class="area" href="/orebro">
                        <span class="label arrADw01 arrC01 element">Örebro</span>
                    </a>
                    <span class="tree_count">1613</span></li>
                <li class="selectable">
                    <a class="area" href="/ostergotland">
                        <span class="label arrADw01 arrC01 element">Östergötland</span>
                    </a>
                    <span class="tree_count">11129</span></li>
            </ul>

            <button class="btnS01 btnC03 closeBtn">Stäng</button>
        </nav>
    </section>
</div>
