@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/mixins/buttons";

.btn,
.btn-link,
.btn-block {
    outline: none !important;
    cursor: pointer;
    box-sizing: border-box;

    &:focus {
        box-shadow: none !important;
    }
}
.btn-default {
    @include button-variant($btn-default-color, $btn-default-bg, $btn-default-bg);
}

.btn.no-hover,
.no-hover {
    &:hover,
    &:focus {
        background: none;
        outline: none !important;
        box-shadow: none;
        text-decoration: none !important;

        .icon {
            text-decoration: none !important;
        }
    }
}

.btn.btn-lg {
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    padding: 10px 20px;
}
.btn.btn-xl {
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    padding: 14px 30px;
}

.btn.btn-primary {
    border-bottom: 3px solid darken($primary-color, $hover-percentage);
    box-sizing: border-box;
}
.btn.btn-secondary {
    border-bottom: 3px solid darken($secondary-color, $hover-percentage);
    box-sizing: border-box;
}

.btn-alternative {
    @include button-variant($secondary-color, #fff, $secondary-color);
}

.btn.processing {
    position: relative;
    color: transparent !important;
    &:after {
        text-indent: 0;
    }
}
.btn.processing:hover {
    color: transparent !important;
    background: none;
    outline: none !important;
    box-shadow: none;
    text-decoration: none !important;
    @include transition(none);
}

.btn-primary.processing,
.btn-primary.processing:hover {
    background: $primary-color;

    &:after {
        color: #fff;
    }
}
.btn-secondary.processing,
.btn-secondary.processing:hover {
    background: $secondary-color;

    &:after {
        color: #fff;
    }
}

.btn.btn-round {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 0;
    table-layout: fixed;
    border-radius: 50%;

    & > * {
        display: inline-block;
        vertical-align: middle;
    }
}

.btn.btn-rounded {
    border-radius: 25px;
    width: 100%;
    max-width: 270px;

    &.btn-block {
        max-width: 100%;
    }

    &.btn-xl {
        border-radius: 30px;
    }

    &.btn-lg {
        border-radius: 25px;
    }

    &.btn-sm {
        border-radius: 15px;
    }
}
