[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    @include icon-font();
}
[class="icon icon-"] {
    background-image: none !important;
}

.icon-djur:before,
.icon-animals:before {
    content: "\e945";
}
.icon-comment-dark:before {
    content: "\e943";
}
.icon-comment-o:before {
    content: "\e944";
}
.icon-help-circle:before {
    content: "\e941";
}
.icon-bell:before {
    content: "\e909";
}
.icon-whatsapp:before {
    content: "\e940";
}
.icon-tick-o:before {
    content: "\e93f";
}
.icon-heart-full:before {
    content: "\e93e";
}
.icon-angle-left-tiny:before {
    content: "\e93c";
}
.icon-angle-right-tiny:before {
    content: "\e93d";
}
.icon-arrow-right-alternative:before {
    content: "\e93a";
}
.icon-arrow-left-alternative:before {
    content: "\e93b";
}
.icon-chat-full:before {
    content: "\e934";
}
.icon-heart:before {
    content: "\e905";
}
.icon-link:before {
    content: "\e936";
}
.icon-message:before {
    content: "\e937";
}
.icon-messanger:before {
    content: "\e938";
}
.icon-tag-full:before {
    content: "\e939";
}
.icon-loader:before {
    content: "\e933";
}
.icon-plus:before {
    content: "\e932";
}
.icon-fb-full:before {
    content: "\e930";
}
.icon-pencil:before {
    content: "\e931";
}
.icon-error-arrow:before {
    content: "\e92f";
}
.icon-angle-down-circle:before {
    content: "\e92b";
}
.icon-angle-left-circle:before {
    content: "\e92c";
}
.icon-angle-right-circle:before {
    content: "\e92d";
}
.icon-angle-up-circle:before {
    content: "\e92e";
}
.icon-trash:before {
    content: "\e92a";
}
.icon-instagram:before {
    content: "\e928";
}
.icon-yt:before {
    content: "\e929";
}
.icon-login-alt:before {
    content: "\e927";
}
.icon-tick:before {
    content: "\e925";
}
.icon-tick-circle:before {
    content: "\e926";
}
.icon-phone-o:before {
    content: "\e923";
}
.icon-pin-o:before {
    content: "\e924";
}
.icon-settings:before {
    content: "\e922";
}
.icon-offer:before {
    content: "\e921";
}
.icon-left-arrow:before {
    content: "\e91e";
}
.icon-right-arrow:before {
    content: "\e91f";
}
.icon-blocked:before {
    content: "\e920";
}
.icon-pin-dark:before {
    content: "\e91d";
}
.icon-phone:before {
    content: "\e91c";
}
.icon-apple:before {
    content: "\e91a";
}
.icon-android:before {
    content: "\e91b";
}
.icon-pour-enfant-et-bebe:before,
.icon-for-barn:before,
.icon-baby-cart:before {
    content: "\e903";
}
.icon-informatique-et-mult:before,
.icon-elektronik:before {
    content: "\e90d";
}
.icon-telephones:before,
.icon-mobile:before {
    content: "\e917";
}
.icon-mobile-menu:before {
    content: "\e918";
}
.icon-x-tiny:before {
    content: "\e942";
}
.icon-x:before {
    content: "\e919";
}
.icon-angle-left:before {
    content: "\e916";
}
.icon-angle-right:before {
    content: "\e915";
}
.icon-angle-up:before {
    content: "\e914";
}
.icon-desktop:before {
    content: "\e90d";
}
.icon-loisirs-et-divertiss:before,
.icon-fritid-hobby:before,
.icon-football:before {
    content: "\e90e";
}
.icon-bostad:before,
.icon-houses:before {
    content: "\e90f";
}
.icon-autres:before,
.icon-events:before,
.icon-network:before {
    content: "\e910";
}
.icon-vetements-et-accesso:before,
.icon-mode:before,
.icon-shoe:before {
    content: "\e911";
}
.icon-pour-la-maison-et-ja:before,
.icon-hem-inredning:before,
.icon-sofa:before {
    content: "\e912";
}
.icon-voitures-et-motos:before,
.icon-fordon:before,
.icon-car:before {
    content: "\e913";
}
.icon-camera:before {
    content: "\e904";
}
.icon-chat:before {
    content: "\e935";
}
.icon-help:before {
    content: "\e906";
}
.icon-home:before {
    content: "\e907";
}
.icon-login:before {
    content: "\e908";
}
.icon-logout:before {
    content: "\e946";
}
.icon-user:before {
    content: "\e90a";
}
.icon-angle-down:before {
    content: "\e90b";
}
.icon-search:before {
    content: "\e90c";
}
.icon-face-happy:before {
    content: "\e902";
}
.icon-circle-x:before {
    content: "\e900";
}
.icon-eye:before {
    content: "\e901";
}
.icon-envelope:before {
    content: "\65";
}
.icon-lock:before {
    content: "\6c";
}
.icon-fb:before {
    content: "\66";
}
