.info {
    border-radius: $border-radius;
    border: $sec-separator;
    padding: 30px 20px;
    text-align: center;
    color: $gray-dark;
    font-size: 16px;
}

.empty-msg {
    @extend .info;

    height: auto;
    margin: 0 20px 20px;
    padding: 0;
    max-width: 800px;

    @include linear-gradient(to bottom, #fff 0, $body-bg 100%);

    .container {
        color: $gray;
        height: 217px;
        padding: 30px 20px;
        background: url(/img/apps-top-bg.png) repeat;
        opacity: 0.6;
    }

    .title {
        color: $gray;
        font-size: 32px;
        line-height: 34px;
        font-weight: 400;
    }

    .lead {
        color: $gray;
        font-size: 16px;
    }

}
