/// Test if `$value` is a valid direction
/// @param {*} $value - Value to test
/// @return {Bool}
@function is-direction($value) {
    $is-keyword: index((to top, to top right, to right top, to right, to bottom right, to right bottom, to bottom, to bottom left, to left bottom, to left, to left top, to top left), $value);
    $is-angle: type-of($value) == 'number' and index('deg' 'grad' 'turn' 'rad', unit($value));

    @return $is-keyword or $is-angle;
}

/// Convert a direction to legacy syntax
/// @param {Keyword | Angle} $value - Value to convert
/// @require {function} is-direction
/// @require {function} convert-angle
/// @throw Cannot convert `#{$value}` to legacy syntax because it doesn't seem to be a direction.;
@function legacy-direction($value) {
    @if is-direction($value) == false {
        @error "Cannot convert `#{$value}` to legacy syntax because it doesn't seem to be a direction.";
    }

    $conversion-map: (
        to top          : bottom,
        to top right    : bottom left,
        to right top    : left bottom,
        to right        : left,
        to bottom right : top left,
        to right bottom : left top,
        to bottom       : top,
        to bottom left  : top right,
        to left bottom  : right top,
        to left         : right,
        to left top     : right bottom,
        to top left     : bottom right
    );

    @if map-has-key($conversion-map, $value) {
        @return map-get($conversion-map, $value);
    }

    @return 90deg - $value;
}

/// Mixin printing a linear-gradient
/// as well as a plain color fallback
/// and the `-webkit-` prefixed declaration
/// @access public
/// @param {Keyword | Angle} $direction - Linear gradient direction
/// @param {Arglist} $color-stops - List of color-stops composing the gradient

/// usage:
//.selector-1 {
//    @include linear-gradient(#31B7D7, #EDAC7D);
//}
//
//.selector-2 {
//    @include linear-gradient(to right, #E47D7D 0%, #C195D3 50%, #4FB4E8 100%);
//}
//
//.selector-3 {
//    @include linear-gradient(42deg, #B58234 0%, #D2B545 50%, #D7C04D 50.01%, #FFFFFF 100%);
//}
@mixin linear-gradient($direction, $color-stops...) {
    // Direction has been omitted and happens to be a color-stop
    @if is-direction($direction) == false {
        $color-stops: $direction, $color-stops;
        $direction: 180deg;
    }
    background: nth(nth($color-stops, 1), 1);
    background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
    background: linear-gradient($direction, $color-stops);
}

/// Mixin for smoother fonts
@mixin smooth() {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/// Mixin printing common custom icon font rules
/// usage:
/// .test {
///      @include icon-font();
/// }
@mixin icon-font() {
    font-family: 'Conv_cb-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: middle;
    display: inline-block;

   @include smooth();
}

/// Mixin specific shadow for box-shadow around items
@mixin shadow($opacity: 0.1) {
    box-shadow: rgba(0, 0, 0, $opacity) 0 1px 2px 0;
}

/// Set up keyframes name and content
/// Usage:
//@include keyframes(fadeIn) {
//    0%  { opacity: 0; }
//    90% { opacity: 1; }
//}
@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

/// Usage:
/// @include animation('fadeIn 2s 3');
@mixin animation($str) {
    -webkit-animation: #{$str};
        -ms-animation: #{$str};
            animation: #{$str};
}

/// Usage:
/// @include transition(left 0.5s linear);
@mixin transition($args...) {
    -webkit-transition: $args;
        -ms-transition: $args;
            transition: $args;
}

/// Usage:
/// @include transform(rotate(360deg));
@mixin transform($property) {
    -webkit-transform: $property;
        -ms-transform: $property;
            transform: $property;
}

@mixin button($color: #fff, $bg: $primary-color, $border-color: $primary-color, $bottom-border-color: "") {
    @include button-variant($color, $bg, $border-color);

    border-color: $border-color $border-color $border-color unquote($border-color);
}

