@font-face {
	font-family: 'Conv_cb-icons';
	src: url('icomoon.eot');
	src: local('☺'), url('icomoon.woff') format('woff'), url('icomoon.ttf') format('truetype'), url('icomoon.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}