<section id="categoryMenu" class="cntTree cntCategories hidden-md-up closed">
    <header class="cntTreeHeader">
        <strong class="root selectable ">
            <a class="area" href="/rabat-sale-zemmour-zaer/rabat?inp_text=Sony">
                <span class="label arrADw01 arrC01">Catégories</span>
            </a>
        </strong>
    </header>
    <nav class="selectedLevel">
        <ul>
            <li class="selectable">
                <a class="area" href="/rabat-sale-zemmour-zaer/rabat/telephones?inp_text=Sony">
                    <span class="label arrADw01 arrC01">
                        <i class="icon icon-telephones"></i><span class="element">Téléphones</span>
                    </span>
                </a>
            </li>
            <li class="selectable">
                <a class="area" href="/rabat-sale-zemmour-zaer/rabat/informatique-et-multimedia?inp_text=Sony">
                    <span class="label arrADw01 arrC01">
                        <i class="icon icon-informatique-et-mult"></i><span class="element">Informatique et Multimedia</span>
                    </span>
                </a>
            </li>
            <li class="selectable selected">
                <a class="area" href="/rabat-sale-zemmour-zaer/rabat/vetements-et-accessoires?inp_text=Sony">
                    <span class="label arrADw01 arrC01">
                        <i class="icon icon-vetements-et-accesso"></i><span class="element">Vêtements et Accessoires</span>
                    </span>
                </a>
                <a href="/rabat-sale-zemmour-zaer/rabat?inp_text=Sony" class="btn goBackBtn">
                    <span>Retourner</span>
                    <i class="icon icon-x" aria-hidden="true"></i>
                </a>
            </li>
            <li class="selectable">
                <a class="area" href="/rabat-sale-zemmour-zaer/rabat/pour-la-maison-et-jardin?inp_text=Sony">
									<span class="label arrADw01 arrC01">
										<i class="icon icon-pour-la-maison-et-ja"></i><span class="element">Pour la Maison et Jardin</span>
									</span>
                </a>
            </li>
            <li class="selectable">
                <a class="area" href="/rabat-sale-zemmour-zaer/rabat/loisirs-et-divertissement?inp_text=Sony">
                    <span class="label arrADw01 arrC01">
                        <i class="icon icon-loisirs-et-divertiss"></i><span class="element">Loisirs et Divertissement</span>
                    </span>
                </a>
            </li>
            <li class="selectable">
                <a class="area" href="/rabat-sale-zemmour-zaer/rabat/voitures-et-motos?inp_text=Sony">
                    <span class="label arrADw01 arrC01">
                        <i class="icon icon-voitures-et-motos"></i><span class="element">Voitures et motos</span>
                    </span>
                </a>
            </li>
            <li class="selectable">
                <a class="area" href="/rabat-sale-zemmour-zaer/rabat/pour-enfant-et-bebe?inp_text=Sony">
                    <span class="label arrADw01 arrC01">
                        <i class="icon icon-pour-enfant-et-bebe"></i><span class="element">Pour enfant et bébé</span>
                    </span>
                </a>
            </li>
            <li class="selectable">
                <a class="area" href="/rabat-sale-zemmour-zaer/rabat/autres?inp_text=Sony">
                    <span class="label arrADw01 arrC01">
                        <i class="icon icon-autres"></i><span class="element">Autres</span>
                    </span>
                </a>
            </li>

        </ul>

        <button class="btnS01 btnC03 closeBtn">Fermer</button>
    </nav>
    <div class="layer"></div>
</section>
