{% if isMobile and showBanner %}
<div id="additionalStickyAppBanner" class="cb-app-banner hidden-md-up">
    <div class="bannerWrp row d-flex align-content-center flex-wrap">
        <a class="col align-self-center closeBtn"><i class="icon icon-x-tiny" aria-hidden="true"></i> <span class="alt">Fermer</span></a>
        <div class="col align-self-center logoWrp">
            {% set appLink = (isiOS)? 'https://itunes.apple.com/se/app/citiboard-ab/id628478527?mt=8' : 'http://play.google.com/store/apps/details?id=se.citiboard' %}
            <a class="logo" href="{{ appLink }}"><span class="alt">Babaliste</span></a>
        </div>
        <p class="col align-self-center align-items-center bannerText">
            <span>La nouvelle façon de vendre et d’acheter
                <img class="stars" alt="4.5 stars rating" src="{{ asset('/img/stars-4.5.png') }}"
                    srcset="{{ asset('/img/stars-4.5@2x.png') }} 2x, {{ asset('/img/stars-4.5.png') }} 1x">
            </span>
        </p>
        <div class="col align-self-center align-items-center btnWrp">
            <a href="/deeplink/feed%2Cnull%2Cnull" class="btn btn-secondary btn-medium downloadAppBtn"><span>Ouvrir »</span></a>
        </div>
    </div>
</div>
{% endif %}
