<aside class="cb-section cb-section-top">
    {% if showSelectedWrapper %}
    <div class="selectedItemWrapper hidden-sm-up">
        <div class="inner">
            <a class="selectedItem" href="/rabat-sale-zemmour-zaer/rabat?inp_text=Sony">
                <span class="selectedItemLabel"><span class="name">Vêtements et Accessoires</span> <i class="icon icon-x"></i></span>
            </a>

            <a class="selectedItem" href="/vetements-et-accessoires?inp_text=Sony">
                <span class="selectedItemLabel"><i class="icon icon-pin-dark" aria-hidden="true"></i><span class="name">Rabat</span> <i class="icon icon-x"></i></span>
            </a>

            <a class="selectedItem searchedItem" href="/">
                <span class="selectedItemLabel searchedItemLabel"><i class="icon icon-search" aria-hidden="true"></i><strong class="name">Sony</strong> <i class="icon icon-x"></i></span>
            </a>
        </div>
    </div>
    {% endif %}

    <div class="menu-wrapper hidden-sm-up">
        {% include 'components/top/categories.html.twig' %}
        {% include 'components/top/locations.html.twig' %}
    </div>
    {% include 'components/top/top-banner.html.twig' %}

    <div id="id_101" class="opxBox desk"><div id="bmone2n-20313.3.14.1"></div></div>

</aside>