<div id="appsTopBanner" class="appsTopBanner{{mobileClass}} hidden-sm-down">
    <div class="appsTopBannerWrp">
        <div class="appsTopBannerInner">
            <div class="phonesImg"></div>
            <h3 class="appsTopBannerHeader"><strong>{% trans %}Download Babaliste application{% endtrans %}</strong><span>{% trans %}and publish your offer in less then 30 seconds!{% endtrans %}</span></h3>
            <div class="buttons">
                <a href="https://itunes.apple.com/se/app/citiboard-ab/id628478527?mt=8" class="appsTopBannerBtn appStoreBtn">
                    <img src="{{ asset('/img/app-store-badge.png') }}"
                         srcset="{{ asset('/img/app-store-badge@2x.png') }} 2x, {{ asset('/img/app-store-badge@3x.png') }} 3x"
                         alt="På App Store">
                    <span class="sr-only">{% trans %}Download from App Store{% endtrans %}</span>
                </a>
                <a href="http://play.google.com/store/apps/details?id=se.citiboard" target="_blank" class="appsTopBannerBtn googlePlayBtn">
                    <img src="{{ asset('/img/google-play-badge.png') }}"
                         srcset="{{ asset('/img/google-play-badge@2x.png') }} 2x, {{ asset('/img/google-play-badge@3x.png') }} 3x"
                         alt="På Google Play">
                    <span class="sr-only">{% trans %}Download from Google Play{% endtrans %}</span>
                </a>
            </div>
        </div>
    </div>
</div>
