.customer-service-menu {
    border: $sec-separator;
    border-radius: $border-radius-lg 0 0 $border-radius-lg;
    background-clip: border-box;
    overflow: hidden;
    max-width: 305px;

    .list-group-item {
        padding: 0;
        border: 0;
    }

    .nav-link {
        color: $gray-light;
        font-size: 18px;
        display: block;
        width: 100%;
        padding: 16px 30px;

        &.title {
            font-size: 24px;
            line-height: 70px;
            padding: 0 30px;
            color: $gray;
        }

        &.title:hover {
            color: $gray;
            background: #fff;
        }
    }

    .nav-link:hover,
    .active .nav-link {
        background: #f5f5f5;
        color: $gray;
    }

}