.gridItem {
    box-sizing: border-box;
    padding: 0;
    margin: 0 0 10px;
    display: inline-block;
    vertical-align: top;
    align-self: auto;
    font-family: Arial, sans-serif;
    will-change: left, top, opacity;

    &.processing {
        visibility: hidden;
        position: relative;
    }

    .main {
        border-radius: 6px;
        border: 1px solid #e5e5e5;
        background: #fff;
        overflow: hidden;
        padding: 0 0 10px;
        margin: 0 10px 0 0;
        box-sizing: border-box;
        text-align: center;
        position: relative;
        z-index: 0;
        font-weight: 300;
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;

        @include smooth();
        @include shadow(0.1);
    }

    .picture {
        margin: 0;
        overflow: hidden;
        border-radius: 3px 3px 0 0;

        figure {
            margin: 0;
        }

        a,
        .pictureLink {
            display: block;
            background: #e1e1e1;
        }

        img {
            width: 100%;
            display: block;
        }

    }

    .detailsWrp {
        padding: 10px;
    }

    .gridTitle {
        margin: 0 10px;
        overflow: hidden;

        @include media-breakpoint-down(sm) {
            margin: 0 8px;

            &:before {
                width: 1em;
            }
        }

        h3 {
            font-size: 18px;
            line-height: 18px;
            margin: 18px 0 5px;
            overflow: hidden;
            letter-spacing: -0.2px;
            text-transform: capitalize;
        }

        .gridTitleLink {
            display: block;
            white-space: normal;
            color: $gray-dark;
            font-weight: 300;

            .title {
                display: block;
                word-break: break-all;
                max-height: 1.35em;
                line-height: normal;
            }
        }

    }

    .gridPrice {
        font: 500 20px/50px 'Open Sans', Arial, Helvetica, sans-serif;
        color: #fff;
        display: block;
        width: 100%;
        height: 50px;
        vertical-align: middle;
        position: absolute;
        left: 0;
        bottom: 65px;
        text-shadow: 0 0 2px #000;
        text-align: left;

        @include linear-gradient( rgba(0,0,0, 0), rgba(0,0,0, 0.5) );
        @include smooth();

        .price-value {
            display: inline-block;
            margin-left: 20px;
        }

        @include media-breakpoint-down(sm) {
            height: 30px;
            line-height: 30px;
            font-size: 14px;

            .price-value {
                margin-left: 8px;
            }
        }
    }

    .noPicture + .gridTitle + .gridPrice {
        bottom: 67px;
    }

    .gridFooter {
        clear: both;
        position: relative;
        overflow: hidden;
        margin: 0 10px;

        @include media-breakpoint-down(sm) {
            margin: 0 8px;
        }
    }

    .gridLocation {
        color: $gray;
        font-size: 12px;
        background-size: 10px auto;
        white-space: nowrap;
        line-height: 23px;
        display: block;
        overflow: hidden;
        text-align: center;

        @include media-breakpoint-down(sm) {
            &:before {
                width: 1em;
            }
        }
    }

    .gridLocationName {
        display: inline-block;
        vertical-align: middle;
        height: 23px;
    }

    .gridTitle + .gridFooter {
        margin-top: -2px;
    }

    .noPhoto {
        height: auto;
        background-image: none;
    }

}
