@import "~bootstrap/scss/mixins/breakpoints";
.cb-board {
    position: relative;
    padding-left: 0;
    padding-right: 0;

    .cb-board-list {
        will-change: padding;
        position: relative;
        font-size: 0;
    }
    .cb-board-list.processing {
        &:after {
            top: 75px;
        }

        .gridItem {
            visibility: hidden;
        }
    }
    .cb-section {
        display: table;
        text-align: center;
        vertical-align: top;

        .stckWrp {
            width: 100%;
            position: relative;
        }
        .opxBox {
            display: table-cell;

            &.tabl.isSticky,
            &.desk.isSticky {
                position: fixed;
                top: 100px;
                z-index: 9999;

                @include media-breakpoint-down(sm) {
                    display: none;
                    width: 0;
                }
            }
            .desk, .tabl {
                @include media-breakpoint-down(sm) {
                    display: none;
                    width: 0;
                }
            }
            .desk {
                @include media-breakpoint-down(md) {
                    display: none;
                    width: 0;
                }
            }
        }
    }
    &.hasAds {
        @media all and (max-width: 1099px) {
            .cb-section-first,
            .cb-section-second {
                display: none;
            }
        }

        @media all and (min-width: 1100px) {

            .cb-board-list {
                display: block;
                width: 100%;
            }

            .masonry-layout {
                margin-right: 170px;
                margin-left: 270px;
            }

            .cb-section-first {
                width: 250px;
                position: absolute;
                left: 0;
                top: 0;
            }

            .cb-section-second {
                width: 160px;
                position: absolute;
                right: 0;
                top: 0;
                min-height: 30px;
            }

        }

        @include  media-breakpoint-only(lg) {
            .masonry-layout .gridItem,
            .cb-sidebar {
                width: 33.3333%;
            }
        }
    }

    .masonry-layout {
        position: relative;

        @include media-breakpoint-down(sm) {
            margin-left: 9px;
        }
    }

}

// load more button
.load-more-offers-btn {
    width: 100%;
    max-width: 254px;
    display: block;
    margin: 30px auto;
    clear: both;

    .icon {
        font-size: 14px;
        vertical-align: baseline;
    }
    &:first-letter {
        text-transform: uppercase;
    }
}

.load-more-offers-btn.processing,
.load-more-offers-btn.processing:hover {
    background-color: transparent;
    border: 0;
    outline: none;
    box-shadow: none;
}
