<div class="contact-form">

    <div class="form-group">
        <select class="form-control">
            <option value="-1">De quoi s’agit il ?</option>
            <option value="1">Signaler un problème</option>
            <option value="5">{% trans %}Others{% endtrans %}</option>
        </select>
    </div>

    <div class="form-group">
        <input type="text" name="title" class="form-control" placeholder="Titre" title="Titre">
    </div>

    <div class="form-group">
        <input type="email" name="email" class="form-control" placeholder="Email" title="Email">
    </div>

    <div class="form-group">
        <textarea class="form-control"></textarea>
    </div>

    <div class="form-group">
        <button class="btn btn-primary btn-xl btn-block">{% trans %}Send{% endtrans %}</button>
    </div>

</div>