<ul class="nav list-group flex-column customer-service-menu">
    <li class="list-group-item nav-item">
        <h2 class="nav-link title">Service client</h2>
    </li>
    <li class="list-group-item nav-item{% if section == 'help' %} active{% endif %}">
        <a class="nav-link active" href="/customer-service/help">FAQ</a>
    </li>
    <li class="list-group-item nav-item{% if section == 'terms' %} active{% endif %}">
        <a class="nav-link" href="/customer-service/terms">Conditions d'utilisation</a>
    </li>
    <li class="list-group-item nav-item{% if section == 'secure-policy' %} active{% endif %}">
        <a class="nav-link" href="/customer-service/security-policy">Politique de confidentialité</a>
    </li>
    <li class="list-group-item nav-item{% if section == 'contact' %} active{% endif %}">
        <a class="nav-link" href="/customer-service/contact">Contactez-nous</a>
    </li>
</ul>