<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async></script>
<script type="text/javascript">
    var OneSignal = window.OneSignal || [];
    OneSignal.push(["init", {
        appId: "f0017579-0429-4bab-9b30-226310f2b41f",
        autoRegister: true,
        subdomainName: 'citiboard',
        notifyButton: {
            enable: true
        },
        safari_web_id: 'web.onesignal.auto.44737891-769a-4856-a052-0f3c94719003'
    }]);

</script>